/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
servers.yml
docker-compose.yaml
Dockerfile
etc/
storage/mysql/
public/css
public/js
public/assets
public/fonts
public/libs
public/audio.worker.js
public/db.worker.js
public/mix-manifest.json
public/images/vendor
public/css/styles.css.map
public/js/app.js.LICENSE.txt
storage/debugbar
/.idea

