.foodpack-widget {
    background: #f97866;
    border-radius: 20px;
    bottom: 10px;
    box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.3);
    color: #f4f1e9;
    cursor: pointer;
    display: flex;
    align-items: center;
    max-width: 300px;
    padding: 5px 8px;
    position: fixed;
    right: 10px;
    width: auto;
    z-index: 10;
    font-weight: 700;
    line-height: 24px;
}

.foodpack-widget__img {
    width: 30px;
}

.foodpack-widget__text {
    padding: 0 5px;
    font-size: 14px;
    font-family: "Noto Sans JP", sanserif;
}

.foodpack-widget:hover {
    background: #9f303c;
}

.modal--foodpack {
    background: rgba(34, 34, 34, 0.8) !important;
}

.modal--foodpack p {
    margin: 0;
}

.modal--foodpack__close {
    background: transparent;
    color: #fff;
    cursor: pointer;
    font-family: serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 1;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition: transform 0.3s ease-in;
    opacity: 1;
    padding: 10px 15px;
    border: none;
}

.modal--foodpack__close:hover {
    transform: scale(1.1);
    opacity: 1;
}

.modal--foodpack.open {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal--foodpack__content {
    height: auto;
    max-height: calc(100vh - 6%);
    line-height: 1.4;
    width: 90%;
    max-width: 900px;
    overflow-x: hidden;
    overflow-y: auto;
    background: #f4f1e9;
    box-shadow: 15px 15px 15px 3px rgb(0 0 0 / 20%);
    font-size: 12px;
    position: relative;

    @include scrollbar();
}

.modal--foodpack__title {
    background: #232051;
    color: #f4f1e9;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 50px;
}

.modal--foodpack__title p {
    margin: 0;
    text-align: center;
}

.modal--foodpack__description {
    background: #fcfcfc;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    padding: 15px 20px;
    text-align: center;
}

.modal--foodpack__form {
    padding: 30px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal--foodpack__items {
    padding: 40px 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.modal--foodpack label {
    cursor: pointer;
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 25px;
}

.modal--foodpack__price {
    font-weight: bold;
    color: #f97866;
    margin-left: 20px;
}

.modal--foodpack input {
    display: none;
}

.modal--foodpack input:checked ~ .fas {
    color: #232051;
}

.modal--foodpack .fas {
    color: rgba(159, 48, 60, 0.1);
    margin-right: 5px;
    transition: all 0.3s ease-in;
}

.modal--foodpack__btn.btn {
    background: #f97866;
    color: #fff;
    margin: 0 auto;
    transition: all 0.3s ease-in;
}

.modal--foodpack__btn.btn:hover {
    background: #9f303c;
}
