h1 {
    font-weight: bold;
}

#left_menu li {
    width: 200px;
    padding: 5px 0 5px 0;
}

#left_menu li a {
    color: #eee;
    font-size: 20px;
}

#left_menu li i {
    width: 30px;
    text-align: left;
}