body {
    background-color: #fff;
}
h1 {
    font-size: 24px;
    text-transform: uppercase;
    margin: 20px auto 20px auto;
    font-weight: bold;
    text-align: center;
}
.container {
    max-width: 1800px; 
}
a.logo { color: #000;}
a.logo:hover { text-decoration: none;}
#logo {
    height: 100px; background:#fff;
    width: 300px;
    line-height: 100px;
    font-size: 24px;
    font-weight: bold;
    margin-left: 300px;
}
#img_logo {
    width: 50px;
    height: 50px;
}
#main_menu {
    background: #e3eefe;
}

#main_menu ul {
    list-style: none;
    margin: 0; padding: 0
}

#main_menu ul li {
    display: inline;
    height: 80px;
    line-height: 80px;
    padding: 0 10px 0 10px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

#main_menu ul li a {
    color: #000;
}

#footer {
    background:#231f51;
    min-height: 300px;
}

#donate_btn {
    background:#F97866;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 40px 10px 40px;
    border-radius: 5px;
}
