<container class="footer">
  <row>
    <columns>
      <p class="text-small text-center">Islamic Help</p>
    </columns>
  </row>
  <row>
    <columns>
      <p class="text-small text-center">Tel: +44 121 446 5682 | Fax: +44 (0) 1564 792323 | <a href="#">Website</a></p>
    </columns>
  </row>
  <row>
    <columns>
      <p class="text-small text-center">Islamic Help, 19 Ombersley Road, Balsall Heath, Birmingham, B12 8UR, UK</p>
    </columns>
  </row>
  <row>
    <columns>
      <p class="text-small text-center">
        <b>Please note</b>: This email is from a notification-only address that cannot accept messages. Please do NOT reply to
        this
        email. For any queries, please email <a href="mailto:info@islamichelp.org.uk">info@islamichelp.org.uk</a>
      </p>
    </columns>
  </row>
</container>