h1 {
    font-weight: bold;
}
#admin_content .btn{
    min-width: 0;
}
.action-btn {
    width: 50px;
    height: 50px;
}
.widget_buttons .btn {
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;  
}
.option_buttons .btn {
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
}
#left_menu {
    padding: 20px;
}
#left_menu ul {
    margin: 0;
    padding: 20px 0 20px 0;
}
#left_menu {
    background: #f0f0f0;
}
#left_menu li {
    min-width: 200px;
    padding: 5px 0 5px 0;
    list-style: none;
}

#left_menu li a {
    color: #101525;
    font-size: 18px;
}

#left_menu li i {
    width: 35px;
    text-align: left;
}

.action_td a:hover {
    text-decoration: none;
}
.svg_icon {
    width: 2rem;
    height: 2rem; 
}