.videoWrapper {
    background: #aaa;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.subscribe_news {
    cursor: pointer;
}
.current-projects-list .swiper-button-next, .current-projects-list .swiper-button-prev {
    color: #F7796A; 
}
.current-projects-list .swiper-wrapper {
    padding-bottom: 50px;
}
.current-projects-list .swiper-pagination {
    padding-bottom: 30px;
}
.current-projects-list .swiper-pagination-bullet {
    height: 8px;
    width: 120px;
    background-color: #888;
    border-radius: 0;
    margin: 0 10px;
}
.current-projects-list .swiper-pagination-bullet-active{
    background-color: #F7796A;
}
.current-projects-list .wrap {
    padding-bottom: 50px;
}

.current-projects-list .swiper-container {
    border-bottom: 4px solid #101525;
}
.btn_appeal_tab {
    height: 40px;
    line-height: 20px;
    padding: 5px 0 5px 0;
    width: calc(50% - 5px);
    margin:0;
}
.btn_appeal_tab:hover {
    background-color: #F97866;
    border: 1px solid #F97866;
}
#donate_modal label {text-transform: none; font-weight: bold; font-size: 14px; padding-top: 20px;}



