
.clearfix () {
  &:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
  }
}


.modal-quick-donation {
  display: none;
  padding: 0 20px 30px;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
  position: fixed; left: 0; right: 0; top: 0;
  z-index: 10;
  background: #fff;
  .img {
	margin: 0 -20px 27px;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 0%;
	height: 0;
	padding-top: 80%;
	.decor-wave {
	  position: absolute; left: 50%; bottom: 17px;
	  transform: translateX(-50%);
	}
  }
  .close {
	width: 65px; height: 65px;
	background: #F7796A;
	color: #fff;
	text-align: center;
	position: absolute; right: 13px; top: 13px;
	z-index: 2;
	border-radius: 50%;
	font-size: 30px;
	opacity: 1;
	line-height: 60px;
  }
  .title {
	color: #101525;
	font-size: 25px;
	font-weight: 900;
	line-height: 37px;
	text-align: center;
	margin: 0 0 27px;
  }
}

.other-way-give-mobile {
  background-image: linear-gradient(180deg, #2CAABB 0%, #231F51 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  padding: 162px 20px 100px;
  position: relative;
  overflow: hidden;
  &:before {
	content: "";
	display: block;
	width: 205px;
	height: 198px;
	background-image: url(../img/Line-styling-White.png);
	background-size: 205px 198px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	position: absolute; left: 50%; top: -65px;
	transform: translateX(-50%);
	opacity: .2;
  }
  .phone {
	//font-family: Lato;
	display: block;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 100px;
	font-size: 15px;
	font-weight: 900;
	letter-spacing: 1px;
	line-height: 19px;
	margin-bottom: 44px;
	text-align: center;
	color: #fff;
	padding: 20px;
	i {
	  transform: scale(1.8);
	  margin-right: 15px;
	}
  }
  .accordion {
	border-top: 4px solid #fff;
	.card {
	  background: transparent;
	  border: 0;
	  border-bottom: 4px solid #fff;
	  border-radius: 0;
	  .card-header {
		background: transparent;
		color: #fff;
		font-size: 16px;
		font-weight: 500;
		letter-spacing: 1px;
		line-height: 24px;
		span {
		  display: block;
		  position: relative;
		  i {
			position: absolute; right: 0; top: 50%;
			transform: translateY(-50%);
		  }
		  &[aria-expanded="true"] i {
			transform: translateY(-50%) rotate(180deg);
		  }
		}
	  }
	  .card-body {
		font-size: 16px;
		line-height: 1.4;
		color: #fff;
	  }
	}
  }
}


.mobile-template {

  #quick_donation_widget {
	position: fixed;
	bottom:  0;
	left: 0;
	width: 100%; height: 57px;
	background: #aaa;
	z-index: 10;
	.btn-modal-quick-donation {
	  padding: 18px 0 21px 0px;
	  font-size: 16px;
	  .moon-icons-plus {
		position: absolute;
		top: 21px;
		right: 35px;
		transform: scale(1.5);
	  }
	}
  }


  body.header-menu-open {overflow: hidden}

  .form-group {
	label {color: #9496B0;}
  }

  section {
	padding-left: 30px;
	padding-right: 30px;
  }

.wrapper {padding-top: 54px;}
.wrap {min-width: 200px}

  .general-content-tabs {
	margin-bottom: 25px;
	.nav-tabs {
	  .nav-link {padding: 10px 6px 10px}
	}
  }

header {
  background: #E3EFFE;
  position: fixed !important;
  .top-bar {
	display: block !important;
	padding: 14px 12px;
	.logo {
	  font-size: 16px;
	  span {
		height: 26px;
		width: 27px;
		margin-right: 10px;
		img {
		  width: 26px; height: 25px;
		}
	  }
	}

	.open-head-menu {
	  background: url(../img/ico-menu.svg) no-repeat;
	  background-size: 25px 25px;
	  display: inline-block;
	  width: 25px; height: 25px;
	  vertical-align: middle;
	}

	.basket {
	  display: inline-block;
	  margin-right: 20px;
	  color: #101525;
	  position: relative;
	  cursor: pointer;
	  vertical-align: middle;
	  i {
		font-size: 22px;
		vertical-align: middle;
		position: relative;
		z-index: 2;
	  }
	  span {
		display: block;
		position: absolute; top: -7px; left: 20px;
		z-index: 1;
		&:before {
		  content: "";
		  display: inline-block;
		  height: 16px; width: 16px;
		  background-color: #F97866;
		  margin-right: 4px;
		  border-radius: 50%;
		  vertical-align: middle;
		}
	  }
	}
  }
}
.wrapper.header-fixed header {
  background: #fff;
  box-shadow: 0 18px 35px 0 rgba(104,110,117,0.1);
}

.header-menu {
  padding: 0px 49px 20px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;

  .logo {
	width: 54px; height: 50px;
	img {width: 54px !important; height: 50px !important;}
  }

  .line {
	width: 260px;
	height: 4px;
	background: #101525;
	margin: 20px 0 20px -49px;
  }

  &.dark-theme {
	background: #101525;

	.line {
	  background: #ffffff;
	}

	.top a {
	  color: #fff !important;
	}

	& > ul li {
	  color: #fff;

	  a {
		color: #fff;
	  }
	}

	&.menu-2 li a {
	  color: #fff;
	}

	.title {
	  color: #fff;
	}
  }

  .top {
	padding: 14px 12px;
	margin: 0 -49px;

	a, .search-btn, .close-menu {
	  color: #101525;
	  font-size: 30px;
	  font-weight: 900;
	  letter-spacing: 1px;
	  line-height: 22px;
	}
	.search-btn {font-size: 23px;}

	.close-menu {
	  font-size: 27px;
	}
  }

  .logo {
	margin-bottom: 15px
  }

  .level-0 > ul {
	display: block;
	padding: 0;
	margin: 0;

	li {
	  display: block;
	  padding: 0;
	  font-size: 20px;
	  line-height: 48px;

	  a {
		font-weight: 900;
		color: #101525;
	  }
	}

	&.menu-2 li {
	  font-size: 16px;
	  line-height: 40px;
	  a {
		color: #101525;
	  }
	}
  }

  .title {
	font-size: 20px;
	line-height: 50px;
	font-weight: 900;
	padding: 0;
	margin: 0 0 20px;

	& + div {
	  padding-left: 0;
	}
	a {
	  color: inherit;
	  font-size: 30px;
	  vertical-align: middle;
	  position: relative;
	  top: -6px;
	  margin-right: 5px;
	}
  }

  .menu {
	margin: 0;

	li {
	  a {
		color: #FFF;
		font-size: 16px;
		font-weight: 500;
		line-height: 50px;
	  }
	}
  }

  .projects-group-swiper {
	padding: 0;
	margin: 0;

	.item {
	  text-align: left;
	  padding: 21px 30px 22px 49px;
	  margin: 0 0 4px -49px;
	  position: relative;
	  i {
		position: absolute; top: 50%; right: 15px;
		transform: translateY(-50%) scale(1.4);
	  }
	}
  }

  .categories {
	background: #101525;
	position: relative;
	margin: 0;
	padding: 0;

	ul {
	  display: block;
	  margin: 0;
	  padding: 0;

	  li {
		display: block;

		a {
		  color: #FFF;
		  font-size: 16px;
		  font-weight: 500;
		  line-height: 50px;
		}
	  }
	}
  }
}

footer {
  padding: 33px 47px 100px;

  .menu {
	margin: 0 0 30px;

	li {
	  display: block;
	  width: 100%;
	  &:after {
		display: none !important;
	  }
	}

	.sub-menu {
	  position: relative;
	  top: 0;
	  padding-left: 10px;
	}

	.open .sub-menu:after {
	  display: none !important;
	}
  }

  .copy {
	opacity: 1;
	line-height: 2
  }

  .social {
	padding-top: 30px;

	a {
	  font-size: 30px;
	}
  }

  .toggle-menu {
	color: #fff;
	font-size: 16px;
	font-weight: 900;
	letter-spacing: 1px;
	line-height: 50px;
	position: relative;
	margin-bottom: 40px;

	&:after {
	  content: "";
	  display: block;
	  width: 50px;
	  height: 4px;
	  background: #fff;
	  position: absolute;
	  left: 0;
	  bottom: 0;
	}
  }
}
    footer.bg-info-yellow {
        .toggle-menu {
            color: #101525;
            &:after {
                background: #101525;
            }
        }
    }


  .main-page-header {
	padding: 0;
	.body {
	  border: 0;
	  padding: 0;
	  flex-direction: column;
	  .left {
		flex: 1 1 100%;
		padding: 0;
		padding: 30px 20px 40px 29px;
		order: 2;
	  }
	  .right {
		flex: 1 1 250px;
		padding: 0;
		order: 1;
	  }
	  .title {
		font-size: 30px;
		line-height: 35px;
	  }
	  p {
		font-size: 16px;
		line-height: 24px;
	  }
	  .view-more {
		display: inline-block;
		position: relative;
	  }

	}
  }

  .who-we-are {
	padding: 20px 30px 60px;
	margin-right: 0;
	margin-bottom: 0;
	&:before {
	  width: 100%;
	  z-index: -1;
	}
	.img-video {
	  margin-left: -30px;
	  margin-right: -30px;
	  padding-bottom: 56.25%;
	}
	.help-info {
	  position: relative;
	  right: auto;
	  bottom: 0;
	}
  }

  .who-we-are + .help-info-swiper {
	margin: -56px 0 40px;
  }

  .help-info-swiper .swiper-button-disabled {
	  opacity: 1.0;
  }
  .help-info-swiper .swiper-button-disabled .moon-icons-arrow-left::before, 
  .help-info-swiper .swiper-button-disabled .moon-icons-arrow-right::before 
  {
	content: "";
    float: left;
    width: 3px;
    height: 48px;
    background: #FED4C2;
    position: absolute;
    top: 0px;
    left: 29px;
  }

  .current-projects {
	padding: 56px 13px;
	margin-bottom: 0;
	background: #F6F8FB;
	.wrap {padding: 0}
	.title {
	  margin-bottom: 55px;
	  padding-left: 16px;
	  &:after {display: none; bottom: -20px;}
	  span {
		font-size: 25px;
		font-weight: 900;
		line-height: 35px;
		&:after {bottom: -20px;}
	  }
	  .moon-icons-arrow-down {
		left: auto; right: 13px;
		top: 4px;
		font-size: 35px;
	  }
	}
	.body {
	  top: 0;
	  .left {
		padding: 45px 35px 30px;
		border-radius: 5px 5px 0 0;
		z-index: 2;
		position: relative;
		margin: 0;
		min-height: 245px;
		.btn {
		  margin: 0;
		  position: absolute; bottom: 0;
		  transform: translateY(50%);
		}
	  }
	  .img {
		position: static;
		bottom: 0;
		border: 0;
		padding-top: 73%;
	  }
	}
	.swiper-container {padding-top: 0}
	.swiper-container .swiper-slide {
	  padding: 0;
	}
	.swiper-pagination {
	  position: relative;
	  text-align: center;
	  bottom: 0;
	  margin-top: 40px;
	  .swiper-pagination-bullet {
		background: #DAE7F9;
		border-radius: 0;
		height: 4px;
		width: 40px;
		min-width: 10px;
		margin-right: 10px;
		opacity: 1;
		&.swiper-pagination-bullet-active {background: #F5C15D}
	  }
	}
	.swiper-button-prev, .swiper-button-next {
	  top: auto; bottom: 62px;
	  margin: 0 !important;
	  font-size: 35px;
	  background: #F5C15D;
	  width: 60px; height: 60px;
	  text-align: center;
	  font-size: 30px;
	  line-height: 60px;
	  color: #fff;
	  &:after {display: none}
	}
	.swiper-button-next {right: 0}
	.swiper-button-prev {left: 0}
  }

  .lets-join {
	padding: 0 0 106px;
	margin: 0;
	position: relative; top: -4px;
	overflow: hidden;
	&:after {
	  content: "";
	  display: block;
	  background: url(../img/Line-styling.png) no-repeat;
	  background-size: contain;
	  height: 157px; width: 152px;
	  position: absolute; right: -46px; bottom: 20px;
	}
	.title {
	  font-size: 25px;
	  padding-top: 70px;
	  margin: 0 30px 30px;
	  position: relative;
	  border-top: 4px solid #101525;
	  span {
		position: relative;
		display: inline-block;
		padding-bottom: 20px;
		&:after {
		  content: "";
		  display: block;
		  width: 50px; height: 4px;
		  background: #101525;
		  position: absolute;
		  left: 0; bottom: -5px;
		}
	  }
	  i {
		position: absolute; right: 0; bottom: 14px;
	  }
	}
	.item {
	  padding-bottom: 50px;
	  box-shadow: none;
	  .img, .img-video {margin-bottom: 40px;}
	  .more-view .moon-icons-plus {font-size: 33px;}
	}
  }

  .widget-about-project {
	padding: 0;
	margin: 0;
	.img {padding-bottom: 52%;}
	.descr {
	  padding: 20px 30px 30px;
	  a:first-child {
		font-size: 30px;
	  	color: #fff;
	  }
	  & > div {
		padding: 0;
	  }
	}
  }

  .whats-new {

	padding: 50px 13px 0;
	margin-bottom: 0;
	.title {
	  padding-left: 13px;
	  font-size: 25px;
	  margin-bottom: 30px;
	  svg {margin-bottom: 25px;}
	}
	.item {
	  .img {
		width: 104px; height: 115px;
		.plus {display: none}
	  }
	  .descr {
		max-width: calc(~"100% - 70px");
		display: block;
		left: 0;
		margin-left: 70px;
		padding: 16px 25px;
		min-width: 235px;
		a {line-height: 1.4}
		.date {display: none}
	  }
	  &.vertical {
		.img {
		  width: 100%; height: auto;
		  padding-top: 68%;
		}
		.descr {
		  margin-left: 30px;
		  min-width: 280px;
		  border-radius: 5px;
		  &:after {display: none}
		}
	  }
	}
	.swiper-container {
	  margin-bottom: 0;
	  .swiper-slide {
		padding-bottom: 50px;
		opacity: 0.4;
		&.swiper-slide-active {
		  opacity: 1;
		  padding-right: 40px;
		  & + .swiper-slide {margin-left: -20px;}
		}
	  }
	  .swiper-pagination {
		padding-bottom: 0;
		bottom: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		.swiper-pagination-bullet {
		  flex: 1 1 auto;
		  height: 4px;
		  width: 40px;
		  max-width: 90px;
		  background-color: #DAE7F9;
		  border-radius: 0;
		  margin: 0 10px;
		  opacity: 1;
		  &.swiper-pagination-bullet-active {background-color: #2CAABB;}
		}
	  }
	}

	.down-link {
	  position: relative;
	  margin-top: 45px;
	  a {
		display: inline-block;
		color: #101525;
		font-size: 15px;
		font-weight: 900;
		letter-spacing: 1px;
		line-height: 22px;
		text-transform: uppercase;
		text-decoration: underline;
		padding: 15px 10px;
	  }
	  .view-more {
		background: #101525;
		padding: 0;
		text-decoration: none;
		width: 60px;
		height: 60px;
		position: absolute;
		bottom: 0px;
		right: 0;
		text-align: center;
		font-size: 30px;
		line-height: 53px;
		color: #fff;
	  }
	}


  }

  .join-cause {
	padding: 70px 13px 50px;
	.title + p {
	  font-size: 16px !important;
	  letter-spacing: normal;
	  line-height: 1.5;
	}
	form {
	  padding: 20px 0 0;
	  background: transparent;
	  button {
		padding: 20px 25px;
		text-align: center;
		i {margin: 0;}
	  }
	  input {
		width: 100%;
		min-width:  200px;
	  }

	}
	.img {
	  padding-bottom: 80%;
	  margin: 0 -30px;
	  background-size: cover;
	  background-repeat: no-repeat;
	  background-position: 50% 0%;
	}

	&.with-glyph {
	  position: relative;
	  padding-top: 134px;
	  margin-top: 145px;
	  &:after {
		content: "";
		display: block;
		background: url(../img/Line-styling.png) no-repeat;
		background-size: contain;
		height: 197px; width: 196px;
		position: absolute; left: 50%; top: 0;
		transform: translate(-50%, -50%);
	  }
	}
  }

  .donate-today {
	padding: 0 20px;
	margin-bottom: 63px;
	&:before {display: none}
	.media {
	  border: 0;
	  border-radius: 0;
	  margin: 0 -20px 53px;
	}
	.title {
	  padding: 0;
	  font-size: 25px;
	  text-align: center;
	  margin-bottom: 30px;
	  .moon-icons-arrow-down {
		font-size: 43px;
		left: auto;
		top: auto; bottom: -12px;
		right: 15px;
	  }
	}
	.body {
	  box-shadow: none;
	  margin-top: -4px;
	  .btn-submit {margin: 0}
	  .nav-tabs {
		border-bottom-width: 4px;
		margin-bottom: 18px;
		.nav-link {
		  font-size: 16px;
		  line-height: 14px;
		  &.active:after {height: 4px; bottom: -4px;}
	  	}
	  }
	  .tab-content {
		padding: 0;
	  }
	  .donate-today-sheet {
		box-shadow: none;
		padding: 0;
		border-radius: 0;
		margin: 0 0 0;
		.item {
		  & > span {
			background: transparent;
			box-shadow: 0 0 0 4px #F1F7FE inset;
			& > span {
			  &:first-child {
				width: 85px;
				flex: 0 0 85px;
				border: 0;
				&:after {display: none}
				object {letter-spacing: -3px !important}
				span {
				  &:first-child {
					font-size: 19px;
					font-weight: 500;
					line-height: 1;
					text-align: left;
					padding-left: 10px;
				  }
				  .moon-icons-check {display: none}
				}
			  }
			  &:last-child {
				font-size: 14px;
				padding: 0 10px;
				line-height: 21px;
				padding: 15px 10px;
			  }
			}
		  }
		  input:checked + span {
			box-shadow: none;
			& > span:first-child span:first-child {
			  .moon-icons-plus {display: none}
			  .moon-icons-check {display: inline-block}
			}
		  }
		}
	  }
	}
  }

  .donate-projects-list {
	padding: 48px 20px 0;
	background: transparent;
	margin-bottom: 50px;
	.title {
	  padding-top: 44px;
	  border: 0;
	  border-top: 4px solid #101525;
	  font-size: 25px;
	  font-weight: 900;
	  line-height: 37px;
	  text-align: center;
	  margin: 0;
	}
	.item {
	  margin: 0 0 13px;
	  padding: 0;
	  .img {
		width: 104px; height: 115px;
		padding-bottom: 0;
	  }
	  .descr {
		padding: 25px;
		margin: 0;
		position: absolute; left: 80px; bottom: 0; right: 0;
		.name {height: auto;}
		.add, .add-related {
		  position: absolute; right: 0; bottom: 0;
		  font-size: 25px;
		  color: #fff;
		  background: #F7796A;
		  border-radius: 5px 0 5px 0;
		  width: 40px; height: 40px;
		  text-align: center;
		  line-height: 35px;
		}
	  }
	}
	.swiper-container {
	  padding-bottom: 40px;
	  .swiper-pagination {
		bottom: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		.swiper-pagination-bullet {
		  flex: 1 1 auto;
		  height: 8px;
		  width: 40px;
		  background-color: #888;
		  border-radius: 0;
		  margin: 0 10px;
		  &.swiper-pagination-bullet-active {background-color: #F7796A;}
		}
	  }
	}

  }

  .about-donation {
	padding: 0 20px;
	margin-bottom: 70px;
	.body {
	  margin: 0 !important;
	  padding: 0 !important;
	  border-radius: 0;
	  box-shadow: none;
	  &.no-donate {
		padding-top: 72px !important;
		background-position: 50% 0;
		background-size: 63px 59px;
	  }
	  &.donated {
		.price {
		  font-size: 18px;
		  min-width: 0;
		  width: 100%;
		}
		.item {
		  padding-bottom: 26px;
		  & + .item {padding-top: 26px;}
		}
		.down-bar {
		  padding: 36px 20px 85px;
		  margin: 0 -20px;
		}
	  }
	  .price {
		min-width: 120px;
		padding: 5px 5px;
	  }
	}
  }

  .added-to-cart-snackbar {
	top: 10px; right: 20px; left: 20px;
	padding: 20px 15px 15px;
	i {position: absolute; top: 12px; right: 12px;}
	.price {
	  float: left;
	  display: block;
	}
	span {
	  display: block;
	  overflow: hidden;
	  font-size: 13px;
	  padding-top: 30px;
	}
  }


  .donated-page {
	padding: 0 20px;
	&:before {display: none}

	.form-title {
	  border-top: 4px solid #101525;
	  padding-top: 20px;
	  padding-left: 20px;
	  margin-bottom: 20px;
	  position: relative;
	  i {
		font-size: 30px;
		color: rgba(44, 170, 187, 0.4);
		position: absolute;
		top: 16px; right: 0;
	  }
	  &.form-done {
		b {color: #2CAABB}
		& + div {display: none}
	  }
	}
  }

  .gift-aid-sheet {
	padding: 40px 20px 25px;
	margin: 0 -20px;
  }

  .thank-you-page {
	padding: 80px 20px 47px;
	background-size: 360px 305px;
	background-position: -100px 24px;
	.text {
	  float: none;
	  margin: 0;
	  div {
		font-size: 35px;
		line-height: 1.3;
		margin-bottom: 17px;
	  }
	  p {
		font-size: 30px;
		line-height: 1.3;
		margin-bottom: 36px;
		text-align: center;
	  }
	  .decor-wave {
		margin: 0 auto;
	  }
	}
	.box {
	  float: none;
	  margin: 0 -20px 46px;
	  border-radius: 0;
	  position: relative;
	  .black-line {
		width: auto;
		margin: 0 20px 20px;
	  }
	  p {
		font-size: 16px;
		padding: 0 30px;
	  }
	  .img-video {
		margin: 0; left: 0;
		border-radius: 0;
	  }
	  .btn {
		position: absolute; right: 0; top: 0;
        border-radius: 0;
	  }
	}
  }

  .blog-article-body {
	padding: 0 20px;
	.blog-video {
	  padding-right: 0;
	  margin-bottom: 54px;
	  .img-video {padding-bottom: 70.25%;}
	  &:after {
		left: -20px;
		right: -20px;
	  }
	}
	.cite {
	  font-size: 16px;
	  line-height: 1.6;
	  padding-left: 17px;
	}
	font-size: 16px;
	font-weight: 500;
	line-height: 1.7;
	p, ul , ol {
	  font-size: 16px;
	  font-weight: 500;
	  line-height: 1.7;
	}
  }

  .blockquote {
	padding: 15px 0px 15px 15px;
	margin-left: 55px;
	border: 0;
	i {
	  font-size: 18px;
	  line-height: 1.5;
	}
	p {
	  font-size: 10px;
	  line-height: 1.3;
	}
	&:after {
	  border-right: 4px solid #F7796A;
	  left: -60px;
	  width: 52px;
	  padding: 5px 15px 5px 0;
	  transform: translateY(0);
	  top: 20px;
	  background-size: 40px 30px;
	  background-position: 0 50%;
	}
	&:before {
	  left: 30%;
	  width: 57vw;
	}
  }

  .whats-happened-far {
	padding: 0;
	& > .black-line {margin: 0 20px}
	.tl {
	  padding: 30px;
	  font-size: 25px;
	  line-height: 1.3;
	}
	.text {
	  padding: 30px;
	  margin: 0;
	}
	.help-info-swiper {
	  background: #FEF2F2;
	  padding: 30px 30px;
	}
  }

  .donate-today-card {
	padding: 100px 20px 20px;
	.wrap {border: 0}
	.title {
	  margin-bottom: 25px;
	  span {
		font-size: 20px;
		&:before {
		  font-size: 40px;
		  line-height: 59px;
		  top: -48px;
		  left: auto; right: 0;
		  transform: translateX(-20px);
		}
	  }
	}
	.list .item {
	  max-width: 280px;
	  margin: 0 auto;
	}
	.donate-today-card-swiper .swiper-container {padding-bottom: 35px;}

	.swiper-pagination {
	  padding-bottom: 0;
	  bottom: 0;
	  display: flex;
	  flex-wrap: wrap;
	  justify-content: center;
	  margin-top: 25px;
	  .swiper-pagination-bullet {
		flex: 1 1 auto;
		height: 4px;
		width: 40px;
		max-width: 90px;
		background-color: #DAE7F9;
		border-radius: 0;
		margin: 0 10px;
		opacity: 1;
		&.swiper-pagination-bullet-active {background-color: #101525;}
	  }
	}
  }

  .join-cause {
	padding: 60px 30px;
  }

  .discover-more {
	padding: 67px 20px 30px;
	.title {
	  margin: 0 0 33px;}
	&.bg-danger-light {
	  .current-projects-list .swiper-pagination .swiper-pagination-bullet {
		background-color: rgba(247,121,106,0.2);
		&.swiper-pagination-bullet-active {background: #F7796A}
	  }
	}
  }

  .current-projects-list {
	.swiper-container {border-bottom: 0}
	.swiper-wrapper {margin-bottom: 10px}
	.swiper-pagination {
	  padding-bottom: 0;
	  bottom: 0;
	  display: flex;
	  flex-wrap: wrap;
	  justify-content: center;
	  .swiper-pagination-bullet {
		flex: 1 1 auto;
		height: 4px;
		width: 40px;
		max-width: 90px;
		background-color: #DAE7F9;
		border-radius: 0;
		margin: 0 10px;
		opacity: 1;
		&.swiper-pagination-bullet-active {background-color: #F7796A;}
	  }
	}
	.item {margin-bottom: 0px}
  }

  .share-box {
	position: relative; top: 0; right: 0;
	transform: rotate(0);
	//text-align: right;
	padding: 0;
	margin-bottom: 30px;
	span:after {display: none;}
	a {
	  font-size: 20px;
	  padding: 10px;
	  transform: rotate(0);
	}
	.stat {transform: rotate(0);}
  }

  .blog-article-head {
	padding: 0 20px;
	.article-text {
	  h1 {
		font-size: 25px;
		line-height: 1.3;
	  }
	  .img-video {
		border-radius: 0;
		margin: 0 -20px 30px;
		padding-bottom: 67.25%;
	  }
	}
  }

  .mission-impossible {
	padding-left: 0;
	padding-right: 0;
	.title {
	  font-size: 25px;
	  border-top: 4px solid #101525;
	  margin: 0 20px 30px;
	  padding: 20px 10px 0;
	}
	.text {
	  padding: 40px 30px;
	  .tl {
		font-size: 25px;
		line-height: 1.5;
		margin: 0;
		padding: 0;
		&:after {display: none}
	  }
	}
	.img {
	  padding-bottom: 60%;
	}
	.text-center .btn {
	  position: relative;
	  transform: translateY(-50%);
	}
  }

  .general-content-head {
	padding: 0 0 40px;
	margin-bottom: 30px;
	h1 {
	  font-size: 25px;
	  line-height: 1.4;
	  padding-bottom: 20px;
	}
	.img {
	  border-top: 4px solid #101525;
	  border-bottom: 4px solid #101525;
	  margin: 0 20px 40px;
	  img {
		display: block;
		width: calc(~"100% + 40px");
		margin: 0 -20px;
	  }
	}
  }

  .our-values {
	.title {
	  font-size: 16px;
	  padding-bottom: 7px;
	}
	.img-video {
	  top:0;
	  margin: 0 -30px;
	}
  }

    .values-action-title p {
        color: #101525;
        font-size: 16px;
        font-weight: 500;
        line-height: 30px;
    }

  .gw-map-btn {
	margin: 0 0 20px;
	padding: 0;
	& > div {
	  background-size: cover;
	}
  }

  .promo-project-swiper {
	padding: 0;
	.text {
	  padding: 45px 30px;
	  font-size: 30px;
	  border: 0;
	  position: relative;
	  display: block;
	  .btn {
		margin-top: 30px;
		position: relative;
		bottom: 0;
		left: -30px;
	  }
	}
	.img {
	  padding-bottom: 80%;
	  margin: 0 20px;
	}
  }

  .who-we-are-head {
	padding-top: 56px;
	padding-bottom: 65px;
	margin-bottom: 38px;
	div {
	  font-size: 16px;
	  margin-bottom: 45px;
	}
	h1 {
	  font-size: 35px;
	  line-height: 1.4;
	}
  }

  .our-story-swiper {
	padding-bottom: 124px;
	margin-bottom: 10px;
	position: relative;
	&:after {
	  content: "";
	  display: block;
	  background: url(../img/Line-styling.png) no-repeat;
	  background-size: contain;
	  height: 197px; width: 196px;
	  position: absolute; left: 50%; bottom: 20px;
	  opacity: 0.1;
	  transform: translateX(-50%);
	}
	.swiper-container {margin: 0 -30px}
	.swiper-slide {
	  padding: 0 30px;
	  .img-box {
		width: auto;
		margin: 0 -30px;
		position: relative;
		& > div {
		  box-shadow: none;
		  margin-right: 0;
		  z-index: 2;
		}
		.img {
		  padding-bottom: 55%;
		  top: 0; left: 0;
		  border-bottom: 4px solid #101525;
		}
		.swiper-button-next {
		  background: #101525;
		  width: 60px; height: 60px;
		  position: absolute; bottom: 0; right: 20px; top: auto;
		  text-align: center;
		  font-size: 30px;
		  line-height: 60px;
		  color: #fff;
		  &:hover {background: #F7796A}
		}
	  }
	  .box {
		width: 100%;
		padding: 0;
		box-shadow: none;
		border-radius: 0;
		min-height: auto;
		&:after {display: none;}
	  }
	  .title {
		font-size: 16px;
		font-weight: 900;
		letter-spacing: 1px;
		line-height: 26px;
		margin-bottom: 10px;
		.text-right span {
		  display: inline-block;
		  padding-right: 100px;
		}
	  }
	  .black-line {margin-bottom: 30px;}
	  p {
		font-size: 16px;
		font-weight: 500;
		line-height: 30px;
	  }
	}
	.swiper-button-prev, .swiper-button-next {top: -9px; right: 0;}
	.swiper-button-prev {right: 45px;}
	.swiper-pagination {margin-top: 30px;}
  }

  .values-action {
	padding: 0;
	margin-bottom: 50px;

	.swiper-slide {
	  padding: 60px 0;
	  //height: 100vh;
	  & > i {
		font-size: 30px;
		position: absolute; right: 30px; top: 45px;
		color: #000;
		&:after {display: none}
	  }
	  .text {
		padding: 0 30px;
		.text-1 {font-size: 30px; margin-bottom: 23px;}
		.text-2 {font-size: 25px; margin-bottom: 10px; line-height: 1.4}
		.text-3 {font-size: 16px; margin-bottom: 20px;}
		& + div .btn {
		  margin: 0 0 -25px 30px;
		  position: relative;
		  z-index: 2;
		}
	  }
	  .img {
		padding-bottom: 55%;
		position: relative;
		.place {
		  background: #1B2030;
		  color: #fff;
		  border-radius: 5px 0  0 5px;
		  position: absolute; right: 0; bottom: 25px;
		  i {color: #8d8fa7}
		}
	  }
	}
	.swiper-pagination {
	  position: relative;
	  text-align: center;
	  bottom: 44px;
	  margin-top: 0;
	  .swiper-pagination-bullet {
		background: #ffffff;
		border-radius: 0;
		height: 4px;
		width: 65px;
		min-width: 10px;
		margin-right: 10px;
		opacity: 1;
		&.swiper-pagination-bullet-active {background: #1B2030}
	  }
	}
  }

  .events-home-swiper {
	padding: 0;
	margin-bottom: 50px;
	.wrap {
	  border-radius: 0 !important;
	}
	&:after {
	  content: "";
	  display: block;
	  background: url(../img/Line-styling.png) no-repeat;
	  background-size: contain;
	  height: 223px;
	  width: 223px;
	  position: absolute;
	  right: 0;
	  bottom: -120px;
	  opacity: 0.05;
	  z-index: -1;
	}
	.swiper-slide {
	  .img {
		padding-bottom: 75%;
	  }
	  .text  {
		margin: 0;
		.place {
		  margin-top: 0;
		  position: relative; top: -19px;
		  margin-bottom: 15px;
		  color: #fff;
		  i {color: #9496B0}
		}
		& > div {
		  padding: 0 25px 25px;
		  .tl {
			font-size: 30px;
			line-height: 1.4;
			margin-bottom: 13px;
		  }
		}
	  }
	  .date {
		position: absolute; top: -27px; right: 30px;
		border-radius: 0  0 5px 5px;
		background: #101525;
		padding: 8px 18px 5px;
		line-height: 1.3;
	  }
	}
	.swiper {
	  background: transparent;
	  padding: 0;
	  bottom: auto; left: 0;
	  width: auto; height: auto;
	  top: 67.5vw;
	  .swiper-button-prev, .swiper-button-next {
		display: inline-block;
		background: #2CAABB;
		padding: 7px 10px;
		width: auto; height: auto;
		transform: translate(0,0) !important;
		margin: 0 !important;
		left: auto !important;
		right: 0;
	  }
	  .swiper-button-prev {
		right: auto;
		left: 0  !important;
	  }
	}
  }

  .upcoming-events {
	padding: 0 10px 85px;
	margin-bottom: 45px;
	.title {
	  padding: 30px 15px 20px;
	  border-top: 4px solid #101525;
	  padding-top: 26px;
	}
	.list {margin-bottom: 40px}
	.item {
	  padding: 20px 18px 0;
	  margin-bottom: 11px;
	  .img {
		margin-right: 0;
	  }
	}
  }

  .event-info-head {
	.line {
	  height: 4px;
	  background: #EFEFF4;
	  margin-bottom: 20px;
	  position: relative;
	}
	.date {
	  bottom: auto;
	  position: absolute; top: 0; right: 0;
	  border-radius: 0  0 5px 5px;
	  background: #EFEFF4;
	  padding: 4px 18px 8px;
	  line-height: 1.3;
	  display: inline-block;
	  font-size: 16px;
	  font-weight: 900;
	  line-height: 30px;
	  text-align: center;
	  color: #F7796A;
	  span {
		display: block;
		color: #101525;
		font-size: 30px;
		font-weight: 700;
	  }
	}
	.img {
	  background-size: cover;
	  background-repeat: no-repeat;
	  background-position: 50% 0%;
	  height: 0;
	  padding-top: 80%;
	  margin: 0 -30px;
	}
	.place {
	  position: relative; top: -19px;
	}
	.box {
	  padding: 0;
	  box-shadow: none;
	  margin: 0 0 0;
	  border-radius: 0;
	  h1 {
		padding: 0;
		font-size: 30px;
		line-height: 1.4;
	  }
	  p {padding: 0;}
	}
  }

  .event-info-descr {
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0;
	.top {
	  b {
		display: block;
		margin: 0 0 13px;
	  }
	  a {
		margin-top: 15px;
		display: inline-block;
		position: relative;
		padding-left: 65px;
		line-height: 1.5;
		margin-left: -13px;
		span {
		  position: absolute; left: 0; top: -7px;
		  display: inline-block;
		  width: 50px; height: 50px;
		  background: #3A7BF5;
		  color: #fff;
		  text-align: center;
		  font-size: 24px;
		  margin-left: 0;
		  border-radius: 50%;
		  line-height: 49px;
		  vertical-align: middle;
		}
	  }
	}
	.down {
	  .title {
		margin: 0;
		padding: 24px 10px 19px 37px;
		letter-spacing: 0.5px;
	  }
	  .title + div {
		background: #F8F7FA;
		margin-bottom: 32px;
		border-radius: 0 0 5px 5px;
		padding: 10px 22px;
		input[type='number'] + .input-group {
		  width: 130px;
		}
		& > div {padding: 0 16px;}
	  }
	  & > div + div {
		margin-left: -10px;
		margin-right: -10px;
		.title {border-radius: 0}
		.title + div {border-radius: 0}
	  }
	}
  }

  .calculator {
	padding: 0;
	.wrap {border-radius: 0;}
	.title {
	  padding: 20px 40px;
	  border-radius: 0;
	  margin: 0 -20px 34px;
	  .top {
		& > b {font-size: 25px;}
		.toggle-title > div i {margin: 0 10px 0 0}
	  }
	  .bottom {
		top: 80px;
		z-index: 3;
		padding: 0 23px 47px;
		.line {margin: 0 0 30px}
		div {
		  padding: 0;
		  p {padding: 0}
		}
	  }
	}
	.blockquote {margin-bottom: 0; margin-top: 50px}
	.general-content-tabs {padding: 0;}
	.wrap {
	  padding: 0 20px 0;
	}
	.text {padding: 0}
	.form-group label {color: #101525}
	.base-value {
	  position: relative;
	  padding: 20px 0;
	  & > div {
		position: relative;
		z-index: 2;
	  }
	  &:before {
		content: "";
		display: block;
		background: url(../img/Line-styling.png) no-repeat;
		background-size: contain;
		height: 172px;
		width: 172px;
		position: absolute;
		right: 0;
		top: 50%;
		opacity: 0.08;
		z-index: 1;
		transform: translateY(-56%);
	  }
	}
	.calc {
	  position: relative;
	  .position-relative {z-index: 2}
	  &:before {
		content: "";
		display: block;
		background: url(../img/Line-styling.png) no-repeat;
		background-size: contain;
		height: 197px;
		width: 196px;
		position: absolute;
		left: 50%;
		top: 0;
		opacity: 0.1;
		z-index: 1;
		transform: translateX(-50%);
	  }
	  .item {
		width: auto;
		font-size: 16px;
		padding: 30px 20px 20px;
		border-radius: 0;
		margin: 0 -20px 10px;
		& > div:first-child {
		  border-bottom: 1px solid #000;
		  line-height: 1.5;
		  padding-bottom: 20px;
		  margin-bottom: 15px;
		}
	  }
	  .btn {width: 150px;}
	}
	.down {
	  margin: 0 -20px;
	  padding: 0;
	  .total {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
	  }

	}
	.last-btn {
	  text-align: center;
	  background: #d4e0ef;
	  margin: 0 -20px;
	  .btn {transform: translateY(-50%);}
	}
	& + .donate-projects-list  {
	  position: relative;
	  &:before {
		content: "";
		display: block;
		background: #e3effe;
		position: absolute; left: 0; right: 0;
		bottom: -50px;
		top: 250px;
	  }
	}
  }

  .head-mission-impossible {
	padding: 0;
	.wrap {
	  padding: 80px 20px 0;
	  min-height: 240px;
	}
	.text {
	  font-size: 12px;
	  font-weight: 900;
	  line-height: 18px;
	}
	.decor-text {
	  font-size: 70px;
	  line-height: 52px;
	  bottom: 3px; right: 2px; left: -2px;
	}
  }

  .our-latest-mission {
	padding: 0 0 72px;
	overflow: hidden;
	.decor-wave {position: relative; left: 35%;}
	.title {
	  margin: 0 27px 0 30px;
	  padding: 25px 0 25px 0;
	}
	.text {
	  padding: 57px 27px 30px 30px;
	  .tl {text-transform: none;}
	}
	.img {
	  padding-top: 77%;
	  .btn {
		bottom: 0; left: 50%;
		transform: translate(-50%, 50%);
	  }
	}
  }

  .swiper-mission-impossible {
	padding: 0;
	.swiper-slide {
	  height: 117px;
	  .img {
		width: 100% !important;
		margin: 0 1px;
	  }
	}
  }

  .so-all-about {
	padding: 0;
	overflow: hidden;
	.red-line {margin: 0 30px;}
	.title {
	  padding: 20px 0;
	  margin: 0 30px;
	  p {
		font-size: 30px;
		line-height: 35px;
	  }
	}
	.img {
	  padding-bottom: 65%;
	  background-size: cover;
	  background-repeat: no-repeat;
	  background-position: 50% 50%;
	}
	.help-info-swiper {
	  margin-top: -87px;
	  padding: 0 23px;
	}
  }

  .how-does-work {
	padding-top: 30px;
	padding-bottom: 10px;
	.title {
	  margin-bottom: 30px;
	  p {
		font-size: 30px;
		line-height: 35px;
	  }
	}
	.item {
	  div {margin-bottom: 10px;}
	  p {margin-bottom: 35px;}
	}
	&.with-lines:after {
	  width: 300px; height: 300px;
	  top: 80px;
	  left: auto;
	  right: -19%;
 	}
  }

  .explore-past-missions {
	overflow: hidden;
	padding: 53px 30px 75px;
	margin-bottom: 58px;
	.swiper-container {padding-bottom: 43px;}
	.swiper-pagination {
	  padding-bottom: 0;
	  bottom: 0;
	  display: flex;
	  flex-wrap: wrap;
	  justify-content: center;
	  .swiper-pagination-bullet {
		flex: 1 1 auto;
		height: 4px;
		width: 40px;
		max-width: 90px;
		background-color: #fff;
		border-radius: 0;
		margin: 0 10px;
		&.swiper-pagination-bullet-active {background-color: #fff;}
	  }
	}
	&.bg-danger-light {
	  .swiper-pagination {
		.swiper-pagination-bullet {
		  background-color: #FF5D4A;
		  &.swiper-pagination-bullet-active {background-color: #FF5D4A;}
		}
	  }
	}
  }

  .experience-lifetime {
	padding: 0 30px;
	.img-video {margin: 0 -30px}
  }

  .be-part-possible {
	padding: 52px 30px 78px;
	margin-bottom: 47px;
  }

  .contacts {
	padding: 30px 30px 50px;
	background-size: cover;
  }

  .btn-back i {
	font-size: 37px;
	margin-right: 5px;
  }

  .head-Volunteer {
	&:after {display: none}
	h1 {
	  font-size: 40px;
	  line-height: 45px;
	  padding-top: 0;
	  margin: 0 0 23px;
	}
	p {text-transform: none}
	.img {margin: 0 -30px;}
	.box {
	  margin: -140px 0px 0;
	  padding: 38px 38px 55px;
	}
	&:before {
	  width: 200px; height: 200px;
	  bottom: auto; top:  135px;
	  left: auto; right: 0;
	}
  }

}


.newsroom-tabs {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.newsroom-list {
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-top: 30px;
  overflow: hidden;
  &:before {right: 0}
  .title {
	margin: 0 0 50px;
	& > div {
	  position: relative;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  text-align: center;
	}
	span {
	  font-size: 60px;
	}
	i {
	  font-size: 25px;
	  left: 50%;
	  transform: translateX(-50%);
	  white-space: nowrap;
	}
  }
  .item {
	padding: 17px 0 20px 20px;
	align-items: center;
	margin-right: 20px;
	.tl {
	  font-size: 14px;
	  line-height: 1.4;
	}
	.date {
	  font-size: 10px;
	  line-height: 1.4;
	}
	.img {
	  width: 102px;
	  height: 102px;
	  right: -23px;
	}
  }
}

.popular-topic-list {
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding-bottom: 30px;
  margin-bottom: 10px;
  background: rgba(238,237,242,0.58);
  .current-projects-list {margin-bottom: 0}
  .title {
	text-align: center;
	font-size: 20px;
	letter-spacing: 1px;
  }
  .item {
	.descr {
	  span:first-child {margin-bottom: 10px;}
	}
  }
}

.pagination .page-item .page-link {font-size: 10px;}

/*------------------------------------vb--------*/

.page-404 {
  margin-top: -57px;
  min-height: 400px;
  .text {
	font-size: 35px;
  }
}

.bg-btn-red {
    background: #f7796a!important;
    color: #ffffff;
    a {
        color: #ffffff!important;;
    }
}
/*------------------------------------vb--------*/
