.modal-quick-donation {
  display: none;
  padding: 0 20px 30px;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  background: #fff;
}
.modal-quick-donation .img {
  margin: 0 -20px 27px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  height: 0;
  padding-top: 80%;
}
.modal-quick-donation .img .decor-wave {
  position: absolute;
  left: 50%;
  bottom: 17px;
  transform: translateX(-50%);
}
.modal-quick-donation .close {
  width: 65px;
  height: 65px;
  background: #F7796A;
  color: #fff;
  text-align: center;
  position: absolute;
  right: 13px;
  top: 13px;
  z-index: 2;
  border-radius: 50%;
  font-size: 30px;
  opacity: 1;
  line-height: 60px;
}
.modal-quick-donation .title {
  color: #101525;
  font-size: 25px;
  font-weight: 900;
  line-height: 37px;
  text-align: center;
  margin: 0 0 27px;
}
.other-way-give-mobile {
  background-image: linear-gradient(180deg, #2CAABB 0%, #231F51 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  padding: 162px 20px 100px;
  position: relative;
  overflow: hidden;
}
.other-way-give-mobile:before {
  content: "";
  display: block;
  width: 205px;
  height: 198px;
  background-image: url(../img/Line-styling-White.png);
  background-size: 205px 198px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: absolute;
  left: 50%;
  top: -65px;
  transform: translateX(-50%);
  opacity: 0.2;
}
.other-way-give-mobile .phone {
  display: block;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 100px;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 19px;
  margin-bottom: 44px;
  text-align: center;
  color: #fff;
  padding: 20px;
}
.other-way-give-mobile .phone i {
  transform: scale(1.8);
  margin-right: 15px;
}
.other-way-give-mobile .accordion {
  border-top: 4px solid #fff;
}
.other-way-give-mobile .accordion .card {
  background: transparent;
  border: 0;
  border-bottom: 4px solid #fff;
  border-radius: 0;
}
.other-way-give-mobile .accordion .card .card-header {
  background: transparent;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 24px;
}
.other-way-give-mobile .accordion .card .card-header span {
  display: block;
  position: relative;
}
.other-way-give-mobile .accordion .card .card-header span i {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.other-way-give-mobile .accordion .card .card-header span[aria-expanded="true"] i {
  transform: translateY(-50%) rotate(180deg);
}
.other-way-give-mobile .accordion .card .card-body {
  font-size: 16px;
  line-height: 1.4;
  color: #fff;
}
.mobile-template #quick_donation_widget {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #aaa;
  z-index: 10;
}
.mobile-template #quick_donation_widget .btn-modal-quick-donation {
  padding: 21px 0px;
  font-size: 16px;
}
.mobile-template #quick_donation_widget .btn-modal-quick-donation .moon-icons-plus {
  position: absolute;
  top: 21px;
  right: 35px;
  transform: scale(1.5);
}
.mobile-template body.header-menu-open {
  overflow: hidden;
}
.mobile-template .form-group label {
  color: #9496B0;
}
.mobile-template section {
  padding-left: 30px;
  padding-right: 30px;
}
.mobile-template .wrapper {
  padding-top: 54px;
}
.mobile-template .wrap {
  min-width: 200px;
}
.mobile-template .general-content-tabs {
  margin-bottom: 25px;
}
.mobile-template .general-content-tabs .nav-tabs .nav-link {
  padding: 10px 6px 10px;
}
.mobile-template header {
  background: #E3EFFE;
  position: fixed !important;
}
.mobile-template header .top-bar {
  display: block !important;
  padding: 14px 12px;
}
.mobile-template header .top-bar .logo {
  font-size: 16px;
}
.mobile-template header .top-bar .logo span {
  height: 26px;
  width: 27px;
  margin-right: 10px;
}
.mobile-template header .top-bar .logo span img {
  width: 26px;
  height: 25px;
}
.mobile-template header .top-bar .open-head-menu {
  background: url(../img/ico-menu.svg) no-repeat;
  background-size: 25px 25px;
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
}
.mobile-template header .top-bar .basket {
  display: inline-block;
  margin-right: 20px;
  color: #101525;
  position: relative;
  cursor: pointer;
  vertical-align: middle;
}
.mobile-template header .top-bar .basket i {
  font-size: 22px;
  vertical-align: middle;
  position: relative;
  z-index: 2;
}
.mobile-template header .top-bar .basket span {
  display: block;
  position: absolute;
  top: -7px;
  left: 20px;
  z-index: 1;
}
.mobile-template header .top-bar .basket span:before {
  content: "";
  display: inline-block;
  height: 16px;
  width: 16px;
  background-color: #F97866;
  margin-right: 4px;
  border-radius: 50%;
  vertical-align: middle;
}
.mobile-template .wrapper.header-fixed header {
  background: #fff;
  box-shadow: 0 18px 35px 0 rgba(104, 110, 117, 0.1);
}
.mobile-template .header-menu {
  padding: 0px 49px 20px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}
.mobile-template .header-menu .logo {
  width: 54px;
  height: 50px;
}
.mobile-template .header-menu .logo img {
  width: 54px !important;
  height: 50px !important;
}
.mobile-template .header-menu .line {
  width: 260px;
  height: 4px;
  background: #101525;
  margin: 20px 0 20px -49px;
}
.mobile-template .header-menu.dark-theme {
  background: #101525;
}
.mobile-template .header-menu.dark-theme .line {
  background: #ffffff;
}
.mobile-template .header-menu.dark-theme .top a {
  color: #fff !important;
}
.mobile-template .header-menu.dark-theme > ul li {
  color: #fff;
}
.mobile-template .header-menu.dark-theme > ul li a {
  color: #fff;
}
.mobile-template .header-menu.dark-theme.menu-2 li a {
  color: #fff;
}
.mobile-template .header-menu.dark-theme .title {
  color: #fff;
}
.mobile-template .header-menu .top {
  padding: 14px 12px;
  margin: 0 -49px;
}
.mobile-template .header-menu .top a,
.mobile-template .header-menu .top .search-btn,
.mobile-template .header-menu .top .close-menu {
  color: #101525;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 22px;
}
.mobile-template .header-menu .top .search-btn {
  font-size: 23px;
}
.mobile-template .header-menu .top .close-menu {
  font-size: 27px;
}
.mobile-template .header-menu .logo {
  margin-bottom: 15px;
}
.mobile-template .header-menu .level-0 > ul {
  display: block;
  padding: 0;
  margin: 0;
}
.mobile-template .header-menu .level-0 > ul li {
  display: block;
  padding: 0;
  font-size: 20px;
  line-height: 48px;
}
.mobile-template .header-menu .level-0 > ul li a {
  font-weight: 900;
  color: #101525;
}
.mobile-template .header-menu .level-0 > ul.menu-2 li {
  font-size: 16px;
  line-height: 40px;
}
.mobile-template .header-menu .level-0 > ul.menu-2 li a {
  color: #101525;
}
.mobile-template .header-menu .title {
  font-size: 20px;
  line-height: 50px;
  font-weight: 900;
  padding: 0;
  margin: 0 0 20px;
}
.mobile-template .header-menu .title + div {
  padding-left: 0;
}
.mobile-template .header-menu .title a {
  color: inherit;
  font-size: 30px;
  vertical-align: middle;
  position: relative;
  top: -6px;
  margin-right: 5px;
}
.mobile-template .header-menu .menu {
  margin: 0;
}
.mobile-template .header-menu .menu li a {
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 50px;
}
.mobile-template .header-menu .projects-group-swiper {
  padding: 0;
  margin: 0;
}
.mobile-template .header-menu .projects-group-swiper .item {
  text-align: left;
  padding: 21px 30px 22px 49px;
  margin: 0 0 4px -49px;
  position: relative;
}
.mobile-template .header-menu .projects-group-swiper .item i {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%) scale(1.4);
}
.mobile-template .header-menu .categories {
  background: #101525;
  position: relative;
  margin: 0;
  padding: 0;
}
.mobile-template .header-menu .categories ul {
  display: block;
  margin: 0;
  padding: 0;
}
.mobile-template .header-menu .categories ul li {
  display: block;
}
.mobile-template .header-menu .categories ul li a {
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 50px;
}
.mobile-template footer {
  padding: 33px 47px 100px;
}
.mobile-template footer .menu {
  margin: 0 0 30px;
}
.mobile-template footer .menu li {
  display: block;
  width: 100%;
}
.mobile-template footer .menu li:after {
  display: none !important;
}
.mobile-template footer .menu .sub-menu {
  position: relative;
  top: 0;
  padding-left: 10px;
}
.mobile-template footer .menu .open .sub-menu:after {
  display: none !important;
}
.mobile-template footer .copy {
  opacity: 1;
  line-height: 2;
}
.mobile-template footer .social {
  padding-top: 30px;
}
.mobile-template footer .social a {
  font-size: 30px;
}
.mobile-template footer .toggle-menu {
  color: #fff;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 50px;
  position: relative;
  margin-bottom: 40px;
}
.mobile-template footer .toggle-menu:after {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
}
.mobile-template footer.bg-info-yellow .toggle-menu {
  color: #101525;
}
.mobile-template footer.bg-info-yellow .toggle-menu:after {
  background: #101525;
}
.mobile-template .main-page-header {
  padding: 0;
}
.mobile-template .main-page-header .body {
  border: 0;
  padding: 0;
  flex-direction: column;
}
.mobile-template .main-page-header .body .left {
  flex: 1 1 100%;
  padding: 0;
  padding: 30px 20px 40px 29px;
  order: 2;
}
.mobile-template .main-page-header .body .right {
  flex: 1 1 250px;
  padding: 0;
  order: 1;
}
.mobile-template .main-page-header .body .title {
  font-size: 30px;
  line-height: 35px;
}
.mobile-template .main-page-header .body p {
  font-size: 16px;
  line-height: 24px;
}
.mobile-template .main-page-header .body .view-more {
  display: inline-block;
  position: relative;
}
.mobile-template .who-we-are {
  padding: 20px 30px 60px;
  margin-right: 0;
  margin-bottom: 0;
}
.mobile-template .who-we-are:before {
  width: 100%;
  z-index: -1;
}
.mobile-template .who-we-are .img-video {
  margin-left: -30px;
  margin-right: -30px;
  padding-bottom: 56.25%;
}
.mobile-template .who-we-are .help-info {
  position: relative;
  right: auto;
  bottom: 0;
}
.mobile-template .who-we-are + .help-info-swiper {
  margin: -56px 0 40px;
}
.mobile-template .who-we-are + .help-info-swiper .swiper-button-disabled {
  opacity: 1;
}
.mobile-template .who-we-are + .help-info-swiper .swiper-button-disabled .moon-icons-arrow-left::before,
.mobile-template .who-we-are + .help-info-swiper .swiper-button-disabled .moon-icons-arrow-right::before {
  content: '|';
}
.mobile-template .current-projects {
  padding: 56px 13px;
  margin-bottom: 0;
  background: #F6F8FB;
}
.mobile-template .current-projects .wrap {
  padding: 0;
}
.mobile-template .current-projects .title {
  margin-bottom: 55px;
  padding-left: 16px;
}
.mobile-template .current-projects .title:after {
  display: none;
  bottom: -20px;
}
.mobile-template .current-projects .title span {
  font-size: 25px;
  font-weight: 900;
  line-height: 35px;
}
.mobile-template .current-projects .title span:after {
  bottom: -20px;
}
.mobile-template .current-projects .title .moon-icons-arrow-down {
  left: auto;
  right: 13px;
  top: 4px;
  font-size: 35px;
}
.mobile-template .current-projects .body {
  top: 0;
}
.mobile-template .current-projects .body .left {
  padding: 45px 35px 30px;
  border-radius: 5px 5px 0 0;
  z-index: 2;
  position: relative;
  margin: 0;
  min-height: 245px;
}
.mobile-template .current-projects .body .left .btn {
  margin: 0;
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
}
.mobile-template .current-projects .body .img {
  position: static;
  bottom: 0;
  border: 0;
  padding-top: 73%;
}
.mobile-template .current-projects .swiper-container {
  padding-top: 0;
}
.mobile-template .current-projects .swiper-container .swiper-slide {
  padding: 0;
}
.mobile-template .current-projects .swiper-pagination {
  position: relative;
  text-align: center;
  bottom: 0;
  margin-top: 40px;
}
.mobile-template .current-projects .swiper-pagination .swiper-pagination-bullet {
  background: #DAE7F9;
  border-radius: 0;
  height: 4px;
  width: 40px;
  min-width: 10px;
  margin-right: 10px;
  opacity: 1;
}
.mobile-template .current-projects .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #F5C15D;
}
.mobile-template .current-projects .swiper-button-prev,
.mobile-template .current-projects .swiper-button-next {
  top: auto;
  bottom: 62px;
  margin: 0 !important;
  font-size: 35px;
  background: #F5C15D;
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 30px;
  line-height: 60px;
  color: #fff;
}
.mobile-template .current-projects .swiper-button-prev:after,
.mobile-template .current-projects .swiper-button-next:after {
  display: none;
}
.mobile-template .current-projects .swiper-button-next {
  right: 0;
}
.mobile-template .current-projects .swiper-button-prev {
  left: 0;
}
.mobile-template .lets-join {
  padding: 0 0 106px;
  margin: 0;
  position: relative;
  top: -4px;
  overflow: hidden;
}
.mobile-template .lets-join:after {
  content: "";
  display: block;
  background: url(../img/Line-styling.png) no-repeat;
  background-size: contain;
  height: 157px;
  width: 152px;
  position: absolute;
  right: -46px;
  bottom: 20px;
}
.mobile-template .lets-join .title {
  font-size: 25px;
  padding-top: 70px;
  margin: 0 30px 30px;
  position: relative;
  border-top: 4px solid #101525;
}
.mobile-template .lets-join .title span {
  position: relative;
  display: inline-block;
  padding-bottom: 20px;
}
.mobile-template .lets-join .title span:after {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background: #101525;
  position: absolute;
  left: 0;
  bottom: -5px;
}
.mobile-template .lets-join .title i {
  position: absolute;
  right: 0;
  bottom: 14px;
}
.mobile-template .lets-join .item {
  padding-bottom: 50px;
  box-shadow: none;
}
.mobile-template .lets-join .item .img,
.mobile-template .lets-join .item .img-video {
  margin-bottom: 40px;
}
.mobile-template .lets-join .item .more-view .moon-icons-plus {
  font-size: 33px;
}
.mobile-template .widget-about-project {
  padding: 0;
  margin: 0;
}
.mobile-template .widget-about-project .img {
  padding-bottom: 52%;
}
.mobile-template .widget-about-project .descr {
  padding: 20px 30px 30px;
}
.mobile-template .widget-about-project .descr a:first-child {
  font-size: 30px;
  color: #fff;
}
.mobile-template .widget-about-project .descr > div {
  padding: 0;
}
.mobile-template .whats-new {
  padding: 50px 13px 0;
  margin-bottom: 0;
}
.mobile-template .whats-new .title {
  padding-left: 13px;
  font-size: 25px;
  margin-bottom: 30px;
}
.mobile-template .whats-new .title svg {
  margin-bottom: 25px;
}
.mobile-template .whats-new .item .img {
  width: 104px;
  height: 115px;
}
.mobile-template .whats-new .item .img .plus {
  display: none;
}
.mobile-template .whats-new .item .descr {
  max-width: calc(100% - 70px);
  display: block;
  left: 0;
  margin-left: 70px;
  padding: 16px 25px;
  min-width: 235px;
}
.mobile-template .whats-new .item .descr a {
  line-height: 1.4;
}
.mobile-template .whats-new .item .descr .date {
  display: none;
}
.mobile-template .whats-new .item.vertical .img {
  width: 100%;
  height: auto;
  padding-top: 68%;
}
.mobile-template .whats-new .item.vertical .descr {
  margin-left: 30px;
  min-width: 280px;
  border-radius: 5px;
}
.mobile-template .whats-new .item.vertical .descr:after {
  display: none;
}
.mobile-template .whats-new .swiper-container {
  margin-bottom: 0;
}
.mobile-template .whats-new .swiper-container .swiper-slide {
  padding-bottom: 50px;
  opacity: 0.4;
}
.mobile-template .whats-new .swiper-container .swiper-slide.swiper-slide-active {
  opacity: 1;
  padding-right: 40px;
}
.mobile-template .whats-new .swiper-container .swiper-slide.swiper-slide-active + .swiper-slide {
  margin-left: -20px;
}
.mobile-template .whats-new .swiper-container .swiper-pagination {
  padding-bottom: 0;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.mobile-template .whats-new .swiper-container .swiper-pagination .swiper-pagination-bullet {
  flex: 1 1 auto;
  height: 4px;
  width: 40px;
  max-width: 90px;
  background-color: #DAE7F9;
  border-radius: 0;
  margin: 0 10px;
  opacity: 1;
}
.mobile-template .whats-new .swiper-container .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #2CAABB;
}
.mobile-template .whats-new .down-link {
  position: relative;
  margin-top: 45px;
}
.mobile-template .whats-new .down-link a {
  display: inline-block;
  color: #101525;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  padding: 15px 10px;
}
.mobile-template .whats-new .down-link .view-more {
  background: #101525;
  padding: 0;
  text-decoration: none;
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 0px;
  right: 0;
  text-align: center;
  font-size: 30px;
  line-height: 53px;
  color: #fff;
}
.mobile-template .join-cause {
  padding: 70px 13px 50px;
}
.mobile-template .join-cause .title + p {
  font-size: 16px !important;
  letter-spacing: normal;
  line-height: 1.5;
}
.mobile-template .join-cause form {
  padding: 20px 0 0;
  background: transparent;
}
.mobile-template .join-cause form button {
  padding: 20px 25px;
  text-align: center;
}
.mobile-template .join-cause form button i {
  margin: 0;
}
.mobile-template .join-cause form input {
  width: 100%;
  min-width: 200px;
}
.mobile-template .join-cause .img {
  padding-bottom: 80%;
  margin: 0 -30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0%;
}
.mobile-template .join-cause.with-glyph {
  position: relative;
  padding-top: 134px;
  margin-top: 145px;
}
.mobile-template .join-cause.with-glyph:after {
  content: "";
  display: block;
  background: url(../img/Line-styling.png) no-repeat;
  background-size: contain;
  height: 197px;
  width: 196px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
}
.mobile-template .donate-today {
  padding: 0 20px;
  margin-bottom: 63px;
}
.mobile-template .donate-today:before {
  display: none;
}
.mobile-template .donate-today .media {
  border: 0;
  border-radius: 0;
  margin: 0 -20px 53px;
}
.mobile-template .donate-today .title {
  padding: 0;
  font-size: 25px;
  text-align: center;
  margin-bottom: 30px;
}
.mobile-template .donate-today .title .moon-icons-arrow-down {
  font-size: 43px;
  left: auto;
  top: auto;
  bottom: -12px;
  right: 15px;
}
.mobile-template .donate-today .body {
  box-shadow: none;
  margin-top: -4px;
}
.mobile-template .donate-today .body .btn-submit {
  margin: 0;
}
.mobile-template .donate-today .body .nav-tabs {
  border-bottom-width: 4px;
  margin-bottom: 18px;
}
.mobile-template .donate-today .body .nav-tabs .nav-link {
  font-size: 16px;
  line-height: 14px;
}
.mobile-template .donate-today .body .nav-tabs .nav-link.active:after {
  height: 4px;
  bottom: -4px;
}
.mobile-template .donate-today .body .tab-content {
  padding: 0;
}
.mobile-template .donate-today .body .donate-today-sheet {
  box-shadow: none;
  padding: 0;
  border-radius: 0;
  margin: 0 0 0;
}
.mobile-template .donate-today .body .donate-today-sheet .item > span {
  background: transparent;
  box-shadow: 0 0 0 4px #F1F7FE inset;
}
.mobile-template .donate-today .body .donate-today-sheet .item > span > span:first-child {
  width: 85px;
  flex: 0 0 85px;
  border: 0;
}
.mobile-template .donate-today .body .donate-today-sheet .item > span > span:first-child:after {
  display: none;
}
.mobile-template .donate-today .body .donate-today-sheet .item > span > span:first-child object {
  letter-spacing: -3px !important;
}
.mobile-template .donate-today .body .donate-today-sheet .item > span > span:first-child span:first-child {
  font-size: 19px;
  font-weight: 500;
  line-height: 1;
  text-align: left;
  padding-left: 10px;
}
.mobile-template .donate-today .body .donate-today-sheet .item > span > span:first-child span .moon-icons-check {
  display: none;
}
.mobile-template .donate-today .body .donate-today-sheet .item > span > span:last-child {
  font-size: 14px;
  padding: 0 10px;
  line-height: 21px;
  padding: 15px 10px;
}
.mobile-template .donate-today .body .donate-today-sheet .item input:checked + span {
  box-shadow: none;
}
.mobile-template .donate-today .body .donate-today-sheet .item input:checked + span > span:first-child span:first-child .moon-icons-plus {
  display: none;
}
.mobile-template .donate-today .body .donate-today-sheet .item input:checked + span > span:first-child span:first-child .moon-icons-check {
  display: inline-block;
}
.mobile-template .donate-projects-list {
  padding: 48px 20px 0;
  background: transparent;
  margin-bottom: 50px;
}
.mobile-template .donate-projects-list .title {
  padding-top: 44px;
  border: 0;
  border-top: 4px solid #101525;
  font-size: 25px;
  font-weight: 900;
  line-height: 37px;
  text-align: center;
  margin: 0;
}
.mobile-template .donate-projects-list .item {
  margin: 0 0 13px;
  padding: 0;
}
.mobile-template .donate-projects-list .item .img {
  width: 104px;
  height: 115px;
  padding-bottom: 0;
}
.mobile-template .donate-projects-list .item .descr {
  padding: 25px;
  margin: 0;
  position: absolute;
  left: 80px;
  bottom: 0;
  right: 0;
}
.mobile-template .donate-projects-list .item .descr .name {
  height: auto;
}
.mobile-template .donate-projects-list .item .descr .add,
.mobile-template .donate-projects-list .item .descr .add-related {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 25px;
  color: #fff;
  background: #F7796A;
  border-radius: 5px 0 5px 0;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 35px;
}
.mobile-template .donate-projects-list .swiper-container {
  padding-bottom: 40px;
}
.mobile-template .donate-projects-list .swiper-container .swiper-pagination {
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.mobile-template .donate-projects-list .swiper-container .swiper-pagination .swiper-pagination-bullet {
  flex: 1 1 auto;
  height: 8px;
  width: 40px;
  background-color: #888;
  border-radius: 0;
  margin: 0 10px;
}
.mobile-template .donate-projects-list .swiper-container .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #F7796A;
}
.mobile-template .about-donation {
  padding: 0 20px;
  margin-bottom: 70px;
}
.mobile-template .about-donation .body {
  margin: 0 !important;
  padding: 0 !important;
  border-radius: 0;
  box-shadow: none;
}
.mobile-template .about-donation .body.no-donate {
  padding-top: 72px !important;
  background-position: 50% 0;
  background-size: 63px 59px;
}
.mobile-template .about-donation .body.donated .price {
  font-size: 18px;
  min-width: 0;
  width: 100%;
}
.mobile-template .about-donation .body.donated .item {
  padding-bottom: 26px;
}
.mobile-template .about-donation .body.donated .item + .item {
  padding-top: 26px;
}
.mobile-template .about-donation .body.donated .down-bar {
  padding: 36px 20px 85px;
  margin: 0 -20px;
}
.mobile-template .about-donation .body .price {
  min-width: 120px;
  padding: 5px 5px;
}
.mobile-template .added-to-cart-snackbar {
  top: 10px;
  right: 20px;
  left: 20px;
  padding: 20px 15px 15px;
}
.mobile-template .added-to-cart-snackbar i {
  position: absolute;
  top: 12px;
  right: 12px;
}
.mobile-template .added-to-cart-snackbar .price {
  float: left;
  display: block;
}
.mobile-template .added-to-cart-snackbar span {
  display: block;
  overflow: hidden;
  font-size: 13px;
  padding-top: 30px;
}
.mobile-template .donated-page {
  padding: 0 20px;
}
.mobile-template .donated-page:before {
  display: none;
}
.mobile-template .donated-page .form-title {
  border-top: 4px solid #101525;
  padding-top: 20px;
  padding-left: 20px;
  margin-bottom: 20px;
  position: relative;
}
.mobile-template .donated-page .form-title i {
  font-size: 30px;
  color: rgba(44, 170, 187, 0.4);
  position: absolute;
  top: 16px;
  right: 0;
}
.mobile-template .donated-page .form-title.form-done b {
  color: #2CAABB;
}
.mobile-template .donated-page .form-title.form-done + div {
  display: none;
}
.mobile-template .gift-aid-sheet {
  padding: 40px 20px 25px;
  margin: 0 -20px;
}
.mobile-template .thank-you-page {
  padding: 80px 20px 47px;
  background-size: 360px 305px;
  background-position: -100px 24px;
}
.mobile-template .thank-you-page .text {
  float: none;
  margin: 0;
}
.mobile-template .thank-you-page .text div {
  font-size: 35px;
  line-height: 1.3;
  margin-bottom: 17px;
}
.mobile-template .thank-you-page .text p {
  font-size: 30px;
  line-height: 1.3;
  margin-bottom: 36px;
  text-align: center;
}
.mobile-template .thank-you-page .text .decor-wave {
  margin: 0 auto;
}
.mobile-template .thank-you-page .box {
  float: none;
  margin: 0 -20px 46px;
  border-radius: 0;
  position: relative;
}
.mobile-template .thank-you-page .box .black-line {
  width: auto;
  margin: 0 20px 20px;
}
.mobile-template .thank-you-page .box p {
  font-size: 16px;
  padding: 0 30px;
}
.mobile-template .thank-you-page .box .img-video {
  margin: 0;
  left: 0;
  border-radius: 0;
}
.mobile-template .thank-you-page .box .btn {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0;
}
.mobile-template .blog-article-body {
  padding: 0 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.7;
}
.mobile-template .blog-article-body .blog-video {
  padding-right: 0;
  margin-bottom: 54px;
}
.mobile-template .blog-article-body .blog-video .img-video {
  padding-bottom: 70.25%;
}
.mobile-template .blog-article-body .blog-video:after {
  left: -20px;
  right: -20px;
}
.mobile-template .blog-article-body .cite {
  font-size: 16px;
  line-height: 1.6;
  padding-left: 17px;
}
.mobile-template .blog-article-body p,
.mobile-template .blog-article-body ul,
.mobile-template .blog-article-body ol {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.7;
}
.mobile-template .blockquote {
  padding: 15px 0px 15px 15px;
  margin-left: 55px;
  border: 0;
}
.mobile-template .blockquote i {
  font-size: 18px;
  line-height: 1.5;
}
.mobile-template .blockquote p {
  font-size: 10px;
  line-height: 1.3;
}
.mobile-template .blockquote:after {
  border-right: 4px solid #F7796A;
  left: -60px;
  width: 52px;
  padding: 5px 15px 5px 0;
  transform: translateY(0);
  top: 20px;
  background-size: 40px 30px;
  background-position: 0 50%;
}
.mobile-template .blockquote:before {
  left: 30%;
  width: 57vw;
}
.mobile-template .whats-happened-far {
  padding: 0;
}
.mobile-template .whats-happened-far > .black-line {
  margin: 0 20px;
}
.mobile-template .whats-happened-far .tl {
  padding: 30px;
  font-size: 25px;
  line-height: 1.3;
}
.mobile-template .whats-happened-far .text {
  padding: 30px;
  margin: 0;
}
.mobile-template .whats-happened-far .help-info-swiper {
  background: #FEF2F2;
  padding: 30px 30px;
}
.mobile-template .donate-today-card {
  padding: 100px 20px 20px;
}
.mobile-template .donate-today-card .wrap {
  border: 0;
}
.mobile-template .donate-today-card .title {
  margin-bottom: 25px;
}
.mobile-template .donate-today-card .title span {
  font-size: 20px;
}
.mobile-template .donate-today-card .title span:before {
  font-size: 40px;
  line-height: 59px;
  top: -48px;
  left: auto;
  right: 0;
  transform: translateX(-20px);
}
.mobile-template .donate-today-card .list .item {
  max-width: 280px;
  margin: 0 auto;
}
.mobile-template .donate-today-card .donate-today-card-swiper .swiper-container {
  padding-bottom: 35px;
}
.mobile-template .donate-today-card .swiper-pagination {
  padding-bottom: 0;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25px;
}
.mobile-template .donate-today-card .swiper-pagination .swiper-pagination-bullet {
  flex: 1 1 auto;
  height: 4px;
  width: 40px;
  max-width: 90px;
  background-color: #DAE7F9;
  border-radius: 0;
  margin: 0 10px;
  opacity: 1;
}
.mobile-template .donate-today-card .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #101525;
}
.mobile-template .join-cause {
  padding: 60px 30px;
}
.mobile-template .discover-more {
  padding: 67px 20px 30px;
}
.mobile-template .discover-more .title {
  margin: 0 0 33px;
}
.mobile-template .discover-more.bg-danger-light .current-projects-list .swiper-pagination .swiper-pagination-bullet {
  background-color: rgba(247, 121, 106, 0.2);
}
.mobile-template .discover-more.bg-danger-light .current-projects-list .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #F7796A;
}
.mobile-template .current-projects-list .swiper-container {
  border-bottom: 0;
}
.mobile-template .current-projects-list .swiper-wrapper {
  margin-bottom: 10px;
}
.mobile-template .current-projects-list .swiper-pagination {
  padding-bottom: 0;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.mobile-template .current-projects-list .swiper-pagination .swiper-pagination-bullet {
  flex: 1 1 auto;
  height: 4px;
  width: 40px;
  max-width: 90px;
  background-color: #DAE7F9;
  border-radius: 0;
  margin: 0 10px;
  opacity: 1;
}
.mobile-template .current-projects-list .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #F7796A;
}
.mobile-template .current-projects-list .item {
  margin-bottom: 0px;
}
.mobile-template .share-box {
  position: relative;
  top: 0;
  right: 0;
  transform: rotate(0);
  padding: 0;
  margin-bottom: 30px;
}
.mobile-template .share-box span:after {
  display: none;
}
.mobile-template .share-box a {
  font-size: 20px;
  padding: 10px;
  transform: rotate(0);
}
.mobile-template .share-box .stat {
  transform: rotate(0);
}
.mobile-template .blog-article-head {
  padding: 0 20px;
}
.mobile-template .blog-article-head .article-text h1 {
  font-size: 25px;
  line-height: 1.3;
}
.mobile-template .blog-article-head .article-text .img-video {
  border-radius: 0;
  margin: 0 -20px 30px;
  padding-bottom: 67.25%;
}
.mobile-template .mission-impossible {
  padding-left: 0;
  padding-right: 0;
}
.mobile-template .mission-impossible .title {
  font-size: 25px;
  border-top: 4px solid #101525;
  margin: 0 20px 30px;
  padding: 20px 10px 0;
}
.mobile-template .mission-impossible .text {
  padding: 40px 30px;
}
.mobile-template .mission-impossible .text .tl {
  font-size: 25px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
.mobile-template .mission-impossible .text .tl:after {
  display: none;
}
.mobile-template .mission-impossible .img {
  padding-bottom: 60%;
}
.mobile-template .mission-impossible .text-center .btn {
  position: relative;
  transform: translateY(-50%);
}
.mobile-template .general-content-head {
  padding: 0 0 40px;
  margin-bottom: 30px;
}
.mobile-template .general-content-head h1 {
  font-size: 25px;
  line-height: 1.4;
  padding-bottom: 20px;
}
.mobile-template .general-content-head .img {
  border-top: 4px solid #101525;
  border-bottom: 4px solid #101525;
  margin: 0 20px 40px;
}
.mobile-template .general-content-head .img img {
  display: block;
  width: calc(100% + 40px);
  margin: 0 -20px;
}
.mobile-template .our-values .title {
  font-size: 16px;
  padding-bottom: 7px;
}
.mobile-template .our-values .img-video {
  top: 0;
  margin: 0 -30px;
}
.mobile-template .values-action-title p {
  color: #101525;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
}
.mobile-template .gw-map-btn {
  margin: 0 0 20px;
  padding: 0;
}
.mobile-template .gw-map-btn > div {
  background-size: cover;
}
.mobile-template .promo-project-swiper {
  padding: 0;
}
.mobile-template .promo-project-swiper .text {
  padding: 45px 30px;
  font-size: 30px;
  border: 0;
  position: relative;
  display: block;
}
.mobile-template .promo-project-swiper .text .btn {
  margin-top: 30px;
  position: relative;
  bottom: 0;
  left: -30px;
}
.mobile-template .promo-project-swiper .img {
  padding-bottom: 80%;
  margin: 0 20px;
}
.mobile-template .who-we-are-head {
  padding-top: 56px;
  padding-bottom: 65px;
  margin-bottom: 38px;
}
.mobile-template .who-we-are-head div {
  font-size: 16px;
  margin-bottom: 45px;
}
.mobile-template .who-we-are-head h1 {
  font-size: 35px;
  line-height: 1.4;
}
.mobile-template .our-story-swiper {
  padding-bottom: 124px;
  margin-bottom: 10px;
  position: relative;
}
.mobile-template .our-story-swiper:after {
  content: "";
  display: block;
  background: url(../img/Line-styling.png) no-repeat;
  background-size: contain;
  height: 197px;
  width: 196px;
  position: absolute;
  left: 50%;
  bottom: 20px;
  opacity: 0.1;
  transform: translateX(-50%);
}
.mobile-template .our-story-swiper .swiper-container {
  margin: 0 -30px;
}
.mobile-template .our-story-swiper .swiper-slide {
  padding: 0 30px;
}
.mobile-template .our-story-swiper .swiper-slide .img-box {
  width: auto;
  margin: 0 -30px;
  position: relative;
}
.mobile-template .our-story-swiper .swiper-slide .img-box > div {
  box-shadow: none;
  margin-right: 0;
  z-index: 2;
}
.mobile-template .our-story-swiper .swiper-slide .img-box .img {
  padding-bottom: 55%;
  top: 0;
  left: 0;
  border-bottom: 4px solid #101525;
}
.mobile-template .our-story-swiper .swiper-slide .img-box .swiper-button-next {
  background: #101525;
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 0;
  right: 20px;
  top: auto;
  text-align: center;
  font-size: 30px;
  line-height: 60px;
  color: #fff;
}
.mobile-template .our-story-swiper .swiper-slide .img-box .swiper-button-next:hover {
  background: #F7796A;
}
.mobile-template .our-story-swiper .swiper-slide .box {
  width: 100%;
  padding: 0;
  box-shadow: none;
  border-radius: 0;
  min-height: auto;
}
.mobile-template .our-story-swiper .swiper-slide .box:after {
  display: none;
}
.mobile-template .our-story-swiper .swiper-slide .title {
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 26px;
  margin-bottom: 10px;
}
.mobile-template .our-story-swiper .swiper-slide .title .text-right span {
  display: inline-block;
  padding-right: 100px;
}
.mobile-template .our-story-swiper .swiper-slide .black-line {
  margin-bottom: 30px;
}
.mobile-template .our-story-swiper .swiper-slide p {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
}
.mobile-template .our-story-swiper .swiper-button-prev,
.mobile-template .our-story-swiper .swiper-button-next {
  top: -9px;
  right: 0;
}
.mobile-template .our-story-swiper .swiper-button-prev {
  right: 45px;
}
.mobile-template .our-story-swiper .swiper-pagination {
  margin-top: 30px;
}
.mobile-template .values-action {
  padding: 0;
  margin-bottom: 50px;
}
.mobile-template .values-action .swiper-slide {
  padding: 60px 0;
}
.mobile-template .values-action .swiper-slide > i {
  font-size: 30px;
  position: absolute;
  right: 30px;
  top: 45px;
  color: #000;
}
.mobile-template .values-action .swiper-slide > i:after {
  display: none;
}
.mobile-template .values-action .swiper-slide .text {
  padding: 0 30px;
}
.mobile-template .values-action .swiper-slide .text .text-1 {
  font-size: 30px;
  margin-bottom: 23px;
}
.mobile-template .values-action .swiper-slide .text .text-2 {
  font-size: 25px;
  margin-bottom: 10px;
  line-height: 1.4;
}
.mobile-template .values-action .swiper-slide .text .text-3 {
  font-size: 16px;
  margin-bottom: 20px;
}
.mobile-template .values-action .swiper-slide .text + div .btn {
  margin: 0 0 -25px 30px;
  position: relative;
  z-index: 2;
}
.mobile-template .values-action .swiper-slide .img {
  padding-bottom: 55%;
  position: relative;
}
.mobile-template .values-action .swiper-slide .img .place {
  background: #1B2030;
  color: #fff;
  border-radius: 5px 0  0 5px;
  position: absolute;
  right: 0;
  bottom: 25px;
}
.mobile-template .values-action .swiper-slide .img .place i {
  color: #8d8fa7;
}
.mobile-template .values-action .swiper-pagination {
  position: relative;
  text-align: center;
  bottom: 44px;
  margin-top: 0;
}
.mobile-template .values-action .swiper-pagination .swiper-pagination-bullet {
  background: #ffffff;
  border-radius: 0;
  height: 4px;
  width: 65px;
  min-width: 10px;
  margin-right: 10px;
  opacity: 1;
}
.mobile-template .values-action .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #1B2030;
}
.mobile-template .events-home-swiper {
  padding: 0;
  margin-bottom: 50px;
}
.mobile-template .events-home-swiper .wrap {
  border-radius: 0 !important;
}
.mobile-template .events-home-swiper:after {
  content: "";
  display: block;
  background: url(../img/Line-styling.png) no-repeat;
  background-size: contain;
  height: 223px;
  width: 223px;
  position: absolute;
  right: 0;
  bottom: -120px;
  opacity: 0.05;
  z-index: -1;
}
.mobile-template .events-home-swiper .swiper-slide .img {
  padding-bottom: 75%;
}
.mobile-template .events-home-swiper .swiper-slide .text {
  margin: 0;
}
.mobile-template .events-home-swiper .swiper-slide .text .place {
  margin-top: 0;
  position: relative;
  top: -19px;
  margin-bottom: 15px;
  color: #fff;
}
.mobile-template .events-home-swiper .swiper-slide .text .place i {
  color: #9496B0;
}
.mobile-template .events-home-swiper .swiper-slide .text > div {
  padding: 0 25px 25px;
}
.mobile-template .events-home-swiper .swiper-slide .text > div .tl {
  font-size: 30px;
  line-height: 1.4;
  margin-bottom: 13px;
}
.mobile-template .events-home-swiper .swiper-slide .date {
  position: absolute;
  top: -27px;
  right: 30px;
  border-radius: 0  0 5px 5px;
  background: #101525;
  padding: 8px 18px 5px;
  line-height: 1.3;
}
.mobile-template .events-home-swiper .swiper {
  background: transparent;
  padding: 0;
  bottom: auto;
  left: 0;
  width: auto;
  height: auto;
  top: 67.5vw;
}
.mobile-template .events-home-swiper .swiper .swiper-button-prev,
.mobile-template .events-home-swiper .swiper .swiper-button-next {
  display: inline-block;
  background: #2CAABB;
  padding: 7px 10px;
  width: auto;
  height: auto;
  transform: translate(0, 0) !important;
  margin: 0 !important;
  left: auto !important;
  right: 0;
}
.mobile-template .events-home-swiper .swiper .swiper-button-prev {
  right: auto;
  left: 0  !important;
}
.mobile-template .upcoming-events {
  padding: 0 10px 85px;
  margin-bottom: 45px;
}
.mobile-template .upcoming-events .title {
  padding: 30px 15px 20px;
  border-top: 4px solid #101525;
  padding-top: 26px;
}
.mobile-template .upcoming-events .list {
  margin-bottom: 40px;
}
.mobile-template .upcoming-events .item {
  padding: 20px 18px 0;
  margin-bottom: 11px;
}
.mobile-template .upcoming-events .item .img {
  margin-right: 0;
}
.mobile-template .event-info-head .line {
  height: 4px;
  background: #EFEFF4;
  margin-bottom: 20px;
  position: relative;
}
.mobile-template .event-info-head .date {
  bottom: auto;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0  0 5px 5px;
  background: #EFEFF4;
  padding: 4px 18px 8px;
  line-height: 1.3;
  display: inline-block;
  font-size: 16px;
  font-weight: 900;
  line-height: 30px;
  text-align: center;
  color: #F7796A;
}
.mobile-template .event-info-head .date span {
  display: block;
  color: #101525;
  font-size: 30px;
  font-weight: 700;
}
.mobile-template .event-info-head .img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  height: 0;
  padding-top: 80%;
  margin: 0 -30px;
}
.mobile-template .event-info-head .place {
  position: relative;
  top: -19px;
}
.mobile-template .event-info-head .box {
  padding: 0;
  box-shadow: none;
  margin: 0 0 0;
  border-radius: 0;
}
.mobile-template .event-info-head .box h1 {
  padding: 0;
  font-size: 30px;
  line-height: 1.4;
}
.mobile-template .event-info-head .box p {
  padding: 0;
}
.mobile-template .event-info-descr {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0;
}
.mobile-template .event-info-descr .top b {
  display: block;
  margin: 0 0 13px;
}
.mobile-template .event-info-descr .top a {
  margin-top: 15px;
  display: inline-block;
  position: relative;
  padding-left: 65px;
  line-height: 1.5;
  margin-left: -13px;
}
.mobile-template .event-info-descr .top a span {
  position: absolute;
  left: 0;
  top: -7px;
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #3A7BF5;
  color: #fff;
  text-align: center;
  font-size: 24px;
  margin-left: 0;
  border-radius: 50%;
  line-height: 49px;
  vertical-align: middle;
}
.mobile-template .event-info-descr .down .title {
  margin: 0;
  padding: 24px 10px 19px 37px;
  letter-spacing: 0.5px;
}
.mobile-template .event-info-descr .down .title + div {
  background: #F8F7FA;
  margin-bottom: 32px;
  border-radius: 0 0 5px 5px;
  padding: 10px 22px;
}
.mobile-template .event-info-descr .down .title + div input[type='number'] + .input-group {
  width: 130px;
}
.mobile-template .event-info-descr .down .title + div > div {
  padding: 0 16px;
}
.mobile-template .event-info-descr .down > div + div {
  margin-left: -10px;
  margin-right: -10px;
}
.mobile-template .event-info-descr .down > div + div .title {
  border-radius: 0;
}
.mobile-template .event-info-descr .down > div + div .title + div {
  border-radius: 0;
}
.mobile-template .calculator {
  padding: 0;
}
.mobile-template .calculator .wrap {
  border-radius: 0;
}
.mobile-template .calculator .title {
  padding: 20px 40px;
  border-radius: 0;
  margin: 0 -20px 34px;
}
.mobile-template .calculator .title .top > b {
  font-size: 25px;
}
.mobile-template .calculator .title .top .toggle-title > div i {
  margin: 0 10px 0 0;
}
.mobile-template .calculator .title .bottom {
  top: 80px;
  z-index: 3;
  padding: 0 23px 47px;
}
.mobile-template .calculator .title .bottom .line {
  margin: 0 0 30px;
}
.mobile-template .calculator .title .bottom div {
  padding: 0;
}
.mobile-template .calculator .title .bottom div p {
  padding: 0;
}
.mobile-template .calculator .blockquote {
  margin-bottom: 0;
  margin-top: 50px;
}
.mobile-template .calculator .general-content-tabs {
  padding: 0;
}
.mobile-template .calculator .wrap {
  padding: 0 20px 0;
}
.mobile-template .calculator .text {
  padding: 0;
}
.mobile-template .calculator .form-group label {
  color: #101525;
}
.mobile-template .calculator .base-value {
  position: relative;
  padding: 20px 0;
}
.mobile-template .calculator .base-value > div {
  position: relative;
  z-index: 2;
}
.mobile-template .calculator .base-value:before {
  content: "";
  display: block;
  background: url(../img/Line-styling.png) no-repeat;
  background-size: contain;
  height: 172px;
  width: 172px;
  position: absolute;
  right: 0;
  top: 50%;
  opacity: 0.08;
  z-index: 1;
  transform: translateY(-56%);
}
.mobile-template .calculator .calc {
  position: relative;
}
.mobile-template .calculator .calc .position-relative {
  z-index: 2;
}
.mobile-template .calculator .calc:before {
  content: "";
  display: block;
  background: url(../img/Line-styling.png) no-repeat;
  background-size: contain;
  height: 197px;
  width: 196px;
  position: absolute;
  left: 50%;
  top: 0;
  opacity: 0.1;
  z-index: 1;
  transform: translateX(-50%);
}
.mobile-template .calculator .calc .item {
  width: auto;
  font-size: 16px;
  padding: 30px 20px 20px;
  border-radius: 0;
  margin: 0 -20px 10px;
}
.mobile-template .calculator .calc .item > div:first-child {
  border-bottom: 1px solid #000;
  line-height: 1.5;
  padding-bottom: 20px;
  margin-bottom: 15px;
}
.mobile-template .calculator .calc .btn {
  width: 150px;
}
.mobile-template .calculator .down {
  margin: 0 -20px;
  padding: 0;
}
.mobile-template .calculator .down .total {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.mobile-template .calculator .last-btn {
  text-align: center;
  background: #d4e0ef;
  margin: 0 -20px;
}
.mobile-template .calculator .last-btn .btn {
  transform: translateY(-50%);
}
.mobile-template .calculator + .donate-projects-list {
  position: relative;
}
.mobile-template .calculator + .donate-projects-list:before {
  content: "";
  display: block;
  background: #e3effe;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -50px;
  top: 250px;
}
.mobile-template .head-mission-impossible {
  padding: 0;
}
.mobile-template .head-mission-impossible .wrap {
  padding: 80px 20px 0;
  min-height: 240px;
}
.mobile-template .head-mission-impossible .text {
  font-size: 12px;
  font-weight: 900;
  line-height: 18px;
}
.mobile-template .head-mission-impossible .decor-text {
  font-size: 70px;
  line-height: 52px;
  bottom: 3px;
  right: 2px;
  left: -2px;
}
.mobile-template .our-latest-mission {
  padding: 0 0 72px;
  overflow: hidden;
}
.mobile-template .our-latest-mission .decor-wave {
  position: relative;
  left: 35%;
}
.mobile-template .our-latest-mission .title {
  margin: 0 27px 0 30px;
  padding: 25px 0 25px 0;
}
.mobile-template .our-latest-mission .text {
  padding: 57px 27px 30px 30px;
}
.mobile-template .our-latest-mission .text .tl {
  text-transform: none;
}
.mobile-template .our-latest-mission .img {
  padding-top: 77%;
}
.mobile-template .our-latest-mission .img .btn {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}
.mobile-template .swiper-mission-impossible {
  padding: 0;
}
.mobile-template .swiper-mission-impossible .swiper-slide {
  height: 117px;
}
.mobile-template .swiper-mission-impossible .swiper-slide .img {
  width: 100% !important;
  margin: 0 1px;
}
.mobile-template .so-all-about {
  padding: 0;
  overflow: hidden;
}
.mobile-template .so-all-about .red-line {
  margin: 0 30px;
}
.mobile-template .so-all-about .title {
  padding: 20px 0;
  margin: 0 30px;
}
.mobile-template .so-all-about .title p {
  font-size: 30px;
  line-height: 35px;
}
.mobile-template .so-all-about .img {
  padding-bottom: 65%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.mobile-template .so-all-about .help-info-swiper {
  margin-top: -87px;
  padding: 0 23px;
}
.mobile-template .how-does-work {
  padding-top: 30px;
  padding-bottom: 10px;
}
.mobile-template .how-does-work .title {
  margin-bottom: 30px;
}
.mobile-template .how-does-work .title p {
  font-size: 30px;
  line-height: 35px;
}
.mobile-template .how-does-work .item div {
  margin-bottom: 10px;
}
.mobile-template .how-does-work .item p {
  margin-bottom: 35px;
}
.mobile-template .how-does-work.with-lines:after {
  width: 300px;
  height: 300px;
  top: 80px;
  left: auto;
  right: -19%;
}
.mobile-template .explore-past-missions {
  overflow: hidden;
  padding: 53px 30px 75px;
  margin-bottom: 58px;
}
.mobile-template .explore-past-missions .swiper-container {
  padding-bottom: 43px;
}
.mobile-template .explore-past-missions .swiper-pagination {
  padding-bottom: 0;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.mobile-template .explore-past-missions .swiper-pagination .swiper-pagination-bullet {
  flex: 1 1 auto;
  height: 4px;
  width: 40px;
  max-width: 90px;
  background-color: #fff;
  border-radius: 0;
  margin: 0 10px;
}
.mobile-template .explore-past-missions .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #fff;
}
.mobile-template .explore-past-missions.bg-danger-light .swiper-pagination .swiper-pagination-bullet {
  background-color: #FF5D4A;
}
.mobile-template .explore-past-missions.bg-danger-light .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #FF5D4A;
}
.mobile-template .experience-lifetime {
  padding: 0 30px;
}
.mobile-template .experience-lifetime .img-video {
  margin: 0 -30px;
}
.mobile-template .be-part-possible {
  padding: 52px 30px 78px;
  margin-bottom: 47px;
}
.mobile-template .contacts {
  padding: 30px 30px 50px;
  background-size: cover;
}
.mobile-template .btn-back i {
  font-size: 37px;
  margin-right: 5px;
}
.mobile-template .head-Volunteer:after {
  display: none;
}
.mobile-template .head-Volunteer h1 {
  font-size: 40px;
  line-height: 45px;
  padding-top: 0;
  margin: 0 0 23px;
}
.mobile-template .head-Volunteer p {
  text-transform: none;
}
.mobile-template .head-Volunteer .img {
  margin: 0 -30px;
}
.mobile-template .head-Volunteer .box {
  margin: -140px 0px 0;
  padding: 38px 38px 55px;
}
.mobile-template .head-Volunteer:before {
  width: 200px;
  height: 200px;
  bottom: auto;
  top: 135px;
  left: auto;
  right: 0;
}
.newsroom-tabs {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.newsroom-list {
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-top: 30px;
  overflow: hidden;
}
.newsroom-list:before {
  right: 0;
}
.newsroom-list .title {
  margin: 0 0 50px;
}
.newsroom-list .title > div {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
.newsroom-list .title span {
  font-size: 60px;
}
.newsroom-list .title i {
  font-size: 25px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}
.newsroom-list .item {
  padding: 17px 0 20px 20px;
  align-items: center;
  margin-right: 20px;
}
.newsroom-list .item .tl {
  font-size: 14px;
  line-height: 1.4;
}
.newsroom-list .item .date {
  font-size: 10px;
  line-height: 1.4;
}
.newsroom-list .item .img {
  width: 102px;
  height: 102px;
  right: -23px;
}
.popular-topic-list {
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding-bottom: 30px;
  margin-bottom: 10px;
  background: rgba(238, 237, 242, 0.58);
}
.popular-topic-list .current-projects-list {
  margin-bottom: 0;
}
.popular-topic-list .title {
  text-align: center;
  font-size: 20px;
  letter-spacing: 1px;
}
.popular-topic-list .item .descr span:first-child {
  margin-bottom: 10px;
}
.pagination .page-item .page-link {
  font-size: 10px;
}
/*------------------------------------vb--------*/
.page-404 {
  margin-top: -57px;
  min-height: 400px;
}
.page-404 .text {
  font-size: 35px;
}
.bg-btn-red {
  background: #f7796a !important;
  color: #ffffff;
}
.bg-btn-red a {
  color: #ffffff !important;
}
/*------------------------------------vb--------*/
