.mobile-template {
.wrapper {
  padding-top: 54px;
}

.wrap {
  min-width: 200px
}

header {
  background: #E3EFFE;
  .top-bar {
	padding: 14px 12px;

	.logo {
	  font-size: 16px;

	  span {
		background-color: #fff;
		height: 26px;
		width: 26px;
		margin-right: 10px;
	  }
	}
  }
}

.header-menu {
  padding: 0px 49px 20px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;

  .line {
	width: 260px;
	height: 4px;
	background: #101525;
	margin: 20px 0 20px -49px;
  }

  &.dark-theme {
	background: #101525;

	.line {
	  background: #ffffff;
	}

	.top a {
	  color: #fff !important;
	}

	& > ul li {
	  color: #fff;

	  a {
		color: #fff;
	  }
	}

	&.menu-2 li a {
	  color: #fff;
	}

	.title {
	  color: #fff;
	}
  }

  .top {
	padding: 14px 12px;
	margin: 0 -49px;

	a, .search-btn, .close-menu {
	  color: #101525;
	  font-size: 23px;
	  font-weight: 900;
	  letter-spacing: 1px;
	  line-height: 22px;
	}

	.close-menu {
	  font-size: 27px;
	}
  }

  .logo {
	margin-bottom: 15px
  }

  .level-0 > ul {
	display: block;
	padding: 0;
	margin: 0;

	li {
	  display: block;
	  padding: 0;
	  font-size: 20px;
	  line-height: 50px;

	  a {
		font-weight: 900;
		color: #101525;
	  }
	}

	&.menu-2 li {
	  font-size: 16px;

	  a {
		color: #101525;
	  }
	}
  }

  .title {
	font-size: 20px;
	line-height: 50px;
	font-weight: 900;
	padding: 0;
	margin: 0 0 20px;

	& + div {
	  padding-left: 0;
	}
  }

  .menu {
	margin: 0;

	li {
	  a {
		color: #FFF;
		font-size: 16px;
		font-weight: 500;
		line-height: 50px;
	  }
	}
  }

  .projects-group-swiper {
	padding: 0;
	margin: 0;

	.item {
	  text-align: left;
	  padding: 21px 30px 22px 49px;
	  margin: 0 0 4px -49px;
	}
  }

  .categories {
	background: #101525;
	position: relative;
	margin: 0;
	padding: 0;

	ul {
	  display: block;
	  margin: 0;
	  padding: 0;

	  li {
		display: block;

		a {
		  color: #FFF;
		  font-size: 16px;
		  font-weight: 500;
		  line-height: 50px;
		}
	  }
	}
  }
}

footer {
  padding: 33px 47px 100px;

  .menu {
	margin: 0 0 30px;

	li {
	  display: block;

	  &:after {
		display: none !important;
	  }
	}

	.sub-menu {
	  position: relative;
	  top: 0;
	  padding-left: 10px;
	}

	.open .sub-menu:after {
	  display: none !important;
	}
  }

  .copy {
	opacity: 1;
	line-height: 2
  }

  .social {
	padding-top: 30px;

	a {
	  font-size: 30px;
	}
  }

  .toggle-menu {
	color: #fff;
	font-size: 16px;
	font-weight: 900;
	letter-spacing: 1px;
	line-height: 50px;
	position: relative;
	margin-bottom: 20px;

	&:after {
	  content: "";
	  display: block;
	  width: 50px;
	  height: 4px;
	  background: #fff;
	  position: absolute;
	  left: 0;
	  bottom: 0;
	}
  }
}


  .main-page-header {
	padding: 0;
	.body {
	  border: 0;
	  padding: 0;
	  flex-direction: column;
	  .left {
		flex: 1 1 100%;
		padding: 0;
		padding: 30px 20px 40px 29px;
		order: 2;
	  }
	  .right {
		flex: 1 1 250px;
		padding: 0;
		order: 1;
	  }
	  .title {
		font-size: 30px;
		line-height: 35px;
	  }
	  p {
		font-size: 16px;
		line-height: 24px;
	  }
	  .view-more {
		display: inline-block;
		position: relative;
	  }

	}
  }

  .who-we-are {
	padding: 20px 30px 60px;
	margin-right: 0;
	margin-bottom: 0;
	&:before {
	  width: 100%;
	  z-index: -1;
	}
	.img-video {
	  margin-left: -30px;
	  margin-right: -30px;
	  padding-bottom: 56.25%;
	}
	.help-info {
	  position: relative;
	  right: auto;
	  bottom: 0;
	}
  }

  .who-we-are + .help-info-swiper {
	margin: -52px 0 40px;
  }

  .current-projects {
	padding: 56px 13px;
	margin-bottom: 0;
	.wrap {padding: 0}
	.title {
	  margin-bottom: 35px;
	  &:after {display: none; bottom: -20px;}
	  span {
		font-size: 25px;
		font-weight: 900;
		line-height: 35px;
	  }
	  .fa-arrow-down {
		left: auto; right: 13px;
		top: 4px;
		font-size: 35px;
	  }
	}
	.body {
	  top: 0;
	  .left {
		padding: 45px 35px 0;
		border-radius: 5px 5px 0 0;
		z-index: 2;
		position: relative;
		.btn {margin-bottom: -24px;}
	  }
	}
	.swiper-pagination {
	  position: relative;
	  text-align: center;
	  bottom: 0;
	  margin-top: 40px;
	  .swiper-pagination-bullet {
		background: #DAE7F9;
		border-radius: 0;
		height: 4px;
		width: 40px;
		min-width: 10px;
		margin-right: 10px;
		opacity: 1;
		&.swiper-pagination-bullet-active {background: #F5C15D}
	  }
	}
	.swiper-button-prev, .swiper-button-next {
	  top: auto; bottom: 66px;
	  margin: 0 !important;
	  font-size: 35px;
	  background: #F5C15D;
	  width: 60px; height: 60px;
	  text-align: center;
	  font-size: 30px;
	  line-height: 60px;
	  color: #fff;
	  &:after {display: none}
	}
	.swiper-button-next {right: 0}
	.swiper-button-prev {left: 0}
  }

  .lets-join {
	padding: 0;
	margin: 0;
	.title {
	  font-size: 25px;
	  padding-top: 70px;
	  margin: 0 30px 30px;
	  position: relative;
	  border-top: 4px solid #101525;
	  span {
		position: relative;
		display: inline-block;
		padding-bottom: 20px;
		&:after {
		  content: "";
		  display: block;
		  width: 50px; height: 4px;
		  background: #101525;
		  position: absolute;
		  left: 0; bottom: -5px;
		}
	  }
	  i {
		position: absolute; right: 0; bottom: 20px;
	  }
	}
	.item {
	  padding-bottom: 50px;
	  box-shadow: none;
	  .img, .img-video {margin-bottom: 40px;}
	}
  }

  .widget-about-project {
	margin: 0;
	.img {padding-bottom: 52%;}
	.descr {
	  padding: 20px 30px 30px;
	  a:first-child {
		font-size: 30px;
	  	color: #fff;
	  }
	  & > div {
		padding: 0;
	  }
	}
  }

  .whats-new {
	padding: 50px 13px 0;
	.title {
	  font-size: 25px;
	  margin-bottom: 25px;
	}
	.item {
	  .img {
		width: 104px; height: 115px;
		.plus {display: none}
	  }
	  .descr {
		max-width: calc(~"100% - 70px");
		display: block;
		left: 0;
		margin-left: 70px;
		padding: 16px 25px;
		p {line-height: 1.4}
		.date {display: none}
	  }
	  &.vertical {
		.img {
		  width: 100%; height: auto;
		  padding-top: 68%;
		}
		.descr {
		  border-radius: 5px;
		  &:after {display: none}
		}
	  }
	}
	.swiper-container {
	  margin-bottom: 0;
	  .swiper-slide {padding-bottom: 50px;}
	  .swiper-pagination {
		position: relative;
		text-align: center;
		bottom: 0;
		margin-top: 0px;
		.swiper-pagination-bullet {
		  background: #DAE7F9;
		  border-radius: 0;
		  height: 4px;
		  width: 40px;
		  min-width: 10px;
		  margin-right: 10px;
		  opacity: 1;
		  &.swiper-pagination-bullet-active {background: #2CAABB}
		}
	  }
	}
  }

  .join-cause {
	padding: 70px 13px 50px;
	form {
	  padding: 20px 0 0;
	  background: transparent;
	  button {
		padding: 20px 25px;
		text-align: center;
		i {margin: 0;}
	  }
	}
  }

}